* {
	vertical-align: middle;
	box-sizing: border-box;
}
html, body {
	width: 100%;height: 100%;
}
h2 {
	font-weight: bold;
    font-size: 60px;
    margin-bottom: 28px;
    min-height: 60px;
}
h3 {
	font-size: 24px;
	font-weight: bold;
}
.content {
	width: 100%;height: 100%;
	text-align: center;
}
#container {
	position: relative;
	height: 100%;
}
.panel {
	display: inline-block;
	padding: 14px;
	height: 100%;
	position: absolute;
	top: 0;
	transition: 1s;
}
.panel-left {
	width: 70%;
	left: 0;
	text-align: right;
	background-color: #22c3aa;
	color: #fff;
}
.panel-right {
	width: 30%;
	left: 70%;
	text-align: left;
	background-color: #fff;
	color: #22c3aa;
}
.panel, .panel-left:hover + .panel-right {
    background-color: #22c3aa;
    color: white;
}

.panel-right, .panel:hover {
    background-color: white;
    color: #22c3aa;
}
.discription {
	height: 150px;
}
.link-panel {
    margin-top: 40px;
    font-size: 14px;
}
.link-panel a {
    display: inline-block;
    margin: 3px 0;
    color: inherit;
    transition: inherit;
    height: 20px;
}
.link-panel .link {
    margin-bottom: 5px;
}
.panel:hover .link-panel a:hover {
    color: #d0648a;
}