* {
	vertical-align: middle;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
	
	
}
html {
	width: 100%;height: 100%;
	font-size: 62.5%;
}
body {
	width: 100%;height: 100%;
}
h2 {
	font-weight: bold;
    font-size: 60px;
    font-size: 6rem;
    margin-bottom: 20px;
    min-height: 40px;
}
h3 {
	font-size: 26px;
	font-size: 2.6rem;
	font-weight: bold;
}
.content {
	width: 100%;height: 100%;
	text-align: center;
}
#container {
	position: relative;
	height: 100%;
}
.panel {
	display: inline-block;
	padding: 14px;
	height: 100%;
	position: absolute;
	top: 0;
	transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
	-o-transition: 1s;
}
.panel-left {
	width: 70%;
	left: 0;
	text-align: right;
	background-color: #22c3aa;
	color: #fff;
}
.panel-right {
	width: 30%;
	left: 70%;
	text-align: left;
	background-color: #fff;
	color: #22c3aa;
}
.panel, 
.panel-left:hover + .panel-right {
    background-color: #22c3aa;
    color: white;
}

.panel-right, 
.panel:hover {
    background-color: white;
    color: #22c3aa;
}
.discription {
	height: 150px;
}
.link-panel {
    margin-top: 40px;
    font-size: 14px;
    font-size: 1.4rem;
}
.link-panel a {
    display: inline-block;
    margin: 3px 0;
    color: inherit;
    height: 20px;
    transition: inherit;
    -moz-transition: inherit;
	-webkit-transition: inherit;
	-o-transition: inherit;
}
.link-panel .link {
    margin-bottom: 5px;
}
.panel:hover .link-panel a:hover {
    color: #d0648a;
}
#avatar {
	position: absolute;
	bottom: 20px;
	left: 70%;
	margin-left: -100px;
	border-radius: 100px;
	-moz-border-radius: 100px;
	z-index: 100;
	transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
	-o-transition: 1s;
}
.panel-right:hover + #avatar {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

@media screen and (max-width: 600px) {
    h2 {
    	font-size: 40px;
        font-size: 4rem;
    }
    h3 {
    	font-size: 20px;
        font-size: 2rem;
    }
    #avatar {
        left: 50%;
        width: 80px;
        height: 80px;
        margin-left: -40px;
        border-radius: 40px;
    }
    .panel-left {
        width: 50%;
    }
    .panel-right {
        width: 50%;
        left: 50%;
        text-align: left;
    }
}