.container{
	position: relative;
	width: 1280px;height: 4000px;
	margin: 0 auto;
/*	background: url(../images/1.png);*/
}
/*logo导航样式*/
.header{
	position: relative;top: 0;
	height: 105px;width: 1280px;
}
.logo{
	position: absolute;top: 32px;left: 44px;
}
.nav{
	position: absolute;top: 40px;right: 0px;
	height: 30px;width: 640px;	
}
.nav a{
	/*display: block;*/
	float: left;
	height: 30px;
	/*padding-top: 2px;*/
	line-height: 30px;
	margin-left: 2px;
	margin-right: 40px;
}
.nav b{
	display: inline-block;
	width: 8px;height: 6px;
	margin-bottom: 2px;
	margin-left: 2px;
	background: url(../images/icons.png) 0 -50px;
}
.nav a:hover{
	color: #4BDEF0;
}
.nav a:hover b{
	background: url(../images/iconx.png);
}
/*.nav a:after{
	content: "﹀";
}*/
/*内容区样式*/
.content{
	position: relative;/*top: 105px*/;
	width: 1280px;/*height: 2596px;*/
	margin-bottom: 60px;
}
.content span{
	display: block;
	position: absolute;top: 16px;left: 24px;
	width: 30px;height: 32px;
	background: url(../images/icons.png);
}
.ban1 a{
	display: block;
	width: 1280px;height: 530px;
	text-align: center;
}

.hot{
	width: 1280px;height: 240px;
}
.hot li{
	float: left;
	width: 25%;height: 240px;
	margin-top: 46px;
	text-align: center;
}
.hot li img{
	height: 80px;
}
.hot li h3{
	color: #618198;
	font-size: 22px;
	line-height: 60px;
/*	margin-top: 16px;
	margin-bottom: 10px;*/
}
.hot li p{
	color: #618198;
	font-size: 14px;

}
.ban2{
	width: 1280px;height: 190px;
	text-align: center;
}
.news{
	width: 1280px;height: 386px;
}
.news .left{
	float: left;
	width: 570px;height: 386px;
	padding-left: 70px;
}
.news h2{
	color: #8A999E;
	font-size: 26px;
	/*width: 640px;height: 64px;*/
	line-height: 100px;
}

.news .left dt{
	float: left;
	width: 64px;height: 140px;
}
.news .left dd{
	float: left;
	width: 486px;height: 140px;
	margin-left: 20px;
}
.news .left dd img{
	width: 60px;
	float: left;
}
.news .left dd h3{
	width: 490px;
	font-size: 16px;
	color: #8A999E;
	line-height: 40px;
}
.news .left dd p{
	width: 490px;
	font-size: 12px;
	color: #8A999E;
	line-height: 22px;
}

.news .right{
	float: right;
	width: 570px;height: 386px;
	padding-left: 70px;
/*	padding-left: 70px;*/
}
.news .right li{
	width: 486px;
	border-bottom: 1px solid #D8D6D6;
}
.news .right h3{
	font-size: 16px;
	color: #8A999E;
	line-height: 40px;
}
.news .right p{
	font-size: 12px;
	color: #8A999E;
	line-height: 30px;
	padding-left: 20px;
}
.news .right b{
	display: inline-block;
	width: 20px;height: 20px;
	margin-top: 6px;
	margin-right: 5px;
	background: url(../images/icons.png) -60px -100px;
}
.news .right i{
	display: inline-block;
	width: 20px;height: 20px;
	margin-top: 6px;
	margin-right: 5px;
	background: url(../images/icons.png) -60px -50px;
}
.news .right h3:hover{
	color: #69CCF7;
}
.news .right h3:hover b{
	background: url(../images/icons.png) -60px -150px;
}
.news .right h3:hover i{
	background: url(../images/icons.png) -60px 0;
}
.name:after{
	content: "Company Inc.";
	color: #555;
}
.ban3{
	width: 1280px;height: 500px;
	margin-top: 52px;
	margin-bottom: 70px;
	text-align: center;
}
.fea{
	width: 1280px;/*height: 500px;*/
	text-align: center;
	margin-bottom: 50px;
}
.fea h2{
	font-size: 38px;
	color: #8A999E;
}
.fea p{
	font-size: 22px;
	color: #8A999E;
	line-height: 44px;
}
.fea dl{
	margin-top: 48px;
}
.fea dd{
	width: 320px;/*height: 400px;*/
	float: left;
	overflow: hidden;
	font-size: 14px;
	color: #8A999E;
}
.fea dd img{
	width: 270px;height: 189px;
}
.fea dd h3{
	font-size: 22px;
	color: #8A999E;
	margin: 20px auto;
}
.fea dd p{
	width: 320px;height: 100px;
	font-size: 12px;
	color: #8A999E;
	line-height: 26px;
	overflow: hidden;
	
}

.fea dd p:after{
	content: "Read more!";
	color: #68D1F4;
}



.coo{
	margin: 0 auto;
	width: 1184px;height: 190px;
	text-align: center;
}
.coo li{
	/*display: inline-block;*/
	float: left;
	width: 16%;/*height: 92px;*/
}
.coo li img{
	width: 190px;
}
.bor1{
	border-bottom: 1px solid #aaa;
}
.bor2{
	border-right: 1px solid #aaa;
}
/*页脚样式*/
.foot{
	/*position: absolute;bottom: 0;*/
	width: 1280px;/*height: 450px;*/
	background: rgba(0,0,0,1);
	color: #fff;
}
.foott{
	width: 1280px;height: 480px;
	text-align: center;
	/*margin-top: 30px;*/
	background: #302E2E;
}
.foott li{
	/*display: inline-block;*/
	float: left;
	width: 20%;height: 226px;
	margin-left: 60px;
/*	padding-top: 20px;
	margin-right: 10px;*/
}
.foott  li h3{
	font-size: 24px;
	/*line-height: 40px;*/
	text-align: left;
	margin-top: 70px;
	margin-bottom: 20px;

}
.foott p{
	font-size: 14px;
	color: #8A999E;
	text-align: left;
	margin-bottom: 20px;

}
.foott a{
	display: block;
	width: 274px;height: 40px;
	border-radius: 5px;
	font: bold 16px/40px "Arial Regular";
	background: #fff;
	margin-top: 8px;

}
.foott span{
	float: left;
	height: 44px;
	font: normal 16px/40px "Arial Regular";
	border: 1px solid #fff;
	background: rgba(0,0,0,1);
	padding-left: 10px;
	padding-right: 10px;
	margin: 4px;
}
.foott img{
	display: inline-block;
	width: 60px;height: 60px;
	float: left;
	margin-right: 20px;
}
.foott dd h4{
	width: 140px;
	font-size: 16px;
	color: #8A999E;
	line-height: 30px;
	text-align: left;
	/*padding-left: 70px;*/
	float: left;
}
.foott dd p{
	width: 176px;height: 60px;
	/*padding-left: 70px;*/
	font-size: 16px;
	color: #8A999E;
	line-height: 30px;
	text-align: left;
	overflow: hidden;
	float: left;
}
input{
	width: 272px;height: 40px;
	color: #fff;
	border: 1px solid #fff;
	background: #000;
}
.footb{
	width: 1280px;height: 100px;
	text-align: center;
	padding-top: 40px;
	/*line-height: 100px;*/
}
.footbl{
	float: left;
	margin-left: 50px;
}
.footbl i{
	float: left;
	margin-left: 20px;
	width: 50px;height: 50px;
}
.tag1{
	background: url(../images/icons.png) 0 -100px;
}
.tag2{
	background: url(../images/icons.png) 0 -200px;
}
.tag3{
	background: url(../images/icons.png) 0 -300px;
}
.tag4{
	background: url(../images/icons.png) 0 -400px;
}

.footbr{
	float: right;
	
	margin-right: 50px
}
.footbr p{
	text-align: right;
	font-size: 12px;
}
.footbr p a{
	color: #fff;
	font-size: 16px;
}