a, body, html {
    color: #d8d9da
}
@font-face {
    font-family: RobotoSlab-Regular;
    src: url(fonts/RobotoSlab-Regular.eot);
    src: url(fonts/RobotoSlab-Regular.eot?#iefix) format('embedded-opentype'), url(fonts/RobotoSlab-Regular.woff2) format('woff2'), url(fonts/RobotoSlab-Regular.woff) format('woff'), url(fonts/RobotoSlab-Regular.ttf) format('truetype'), url(fonts/RobotoSlab-Regular.svg#RobotoSlab-Regular) format('svg');
    font-weight: 400;
    font-style: normal
}
body, html {
    margin: 0;
    padding: 0;
    font-family: RobotoSlab-Regular;
    font-size: 12px;
    background: url(images/bg.png)
}
ul {
    list-style: none
}
a {
    cursor: pointer;
    text-decoration: none
}
a:hover {
    opacity: .95
}
.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 40px
}
.container header {
    overflow: auto;
    color: #fff
}
.container header .logo {
    width: 150px;
    height: 30px;
    display: block;
    background: url(images/logo.png) no-repeat;
    -webkit-background-size: 150px, auto;
    -moz-background-size: 150px, auto;
    -o-background-size: 150px, auto;
    background-size: 150px, auto;
    float: left;
    margin-top: 13px
}
.container header .vo-logo {
    width: 120px;
    height: 65px;
    display: block;
    background: url(images/vo-logo.svg) no-repeat;
    -webkit-background-size: 120px, auto;
    -moz-background-size: 120px, auto;
    -o-background-size: 120px, auto;
    background-size: 120px, auto;
    float: right;
    margin-top: -11px
}
.container header nav {
    float: right;
    margin-top: 7px;
    line-height: 42px
}
.container header nav .sign {
    width: 145px;
    height: 39px;
    display: inline-block;
    text-align: center;
    background: url(images/blue.png) no-repeat
}
.container header nav a {
    margin-left: 20px;
    display: inline-block
}
.container header nav span {
    margin-left: 20px
}
.container header nav span a {
    margin-left: 0
}
.container .title {
    margin-top: 180px;
    text-align: center
}
.container .title .logo {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    display: block
}
.container .title .subtitle {
    font-size: 20px;
    margin-top: 20px;
    font-family: RobotoSlab-Regular;
    color: #747474
}
.container .title .code {
    font-size: 16px;
    padding: 12px 10px;
    margin: 30px auto 0;
    background-color: #212327;
    border: 3px solid #212f38;
    max-width: 650px
}
.container .title .code .res {
    color: #707071
}
.container .title .code .attr {
    color: #a97d0d
}
.container .title .code .val {
    color: #0a722a
}
.container .title .code .act {
    color: #515fcb
}
.container .title .code #typing {
    width: 15px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    -webkit-transition: width 4s steps(45, end);
    -moz-transition: width 4s steps(45, end);
    -ms-transition: width 4s steps(45, end);
    -o-transition: width 4s steps(45, end);
    transition: width 4s steps(45, end)
}
.container .title .code #typing.active {
    width: 90%;
    max-width: 425px
}
@-moz-keyframes blinker {
    0%, 100% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}
@-webkit-keyframes blinker {
    0%, 100% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}
@keyframes blinker {
    0%, 100% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}
.container .title .code #cursor.active {
    -webkit-animation: blinker linear 1s infinite;
    -moz-animation: blinker linear 1s infinite;
    -ms-animation: blinker linear 1s infinite;
    -o-animation: blinker linear 1s infinite;
    animation: blinker linear 1s infinite
}
.container .intro-list {
    text-align: center;
    margin: 50px auto 0;
    max-width: 600px
}
.container .intro-list .intro .title {
    font-size: 22px;
    z-index: 1
}
.container .intro-list .intro .subtitle {
    font-size: 16px;
    color: #7d8186;
    margin-top: 10px
}
.container .intro-list .intro .img {
    width: 100%;
    border: 3px solid #0f1f29;
    margin-top: 40px
}
.container .intro-list .intro span {
    position: relative
}
.container .intro-list .intro span.normal {
    z-index: 2
}
.container .intro-list .intro span.light {
    z-index: 0
}
.container .intro-list .intro span.light::before {
    content: "";
    position: absolute;
    z-index: -1
}
.container .intro-list .intro span.green::before {
    width: 154px;
    height: 40px;
    left: -11px;
    top: 1px;
    background: url(images/green.png) no-repeat
}
.container .intro-list .intro span.purple::before {
    width: 100px;
    height: 40px;
    left: -6px;
    top: 1px;
    background: url(images/purple.png) no-repeat
}
.container .intro-list .intro span.red::before {
    width: 82px;
    height: 40px;
    left: -18px;
    top: 1px;
    background: url(images/red.png) no-repeat
}
.container .intro-list .intro span.orange::before {
    width: 110px;
    height: 40px;
    left: -11px;
    top: -2px;
    background: url(images/orange.png) no-repeat
}
.container .last {
    text-align: center;
    margin: 150px 0
}
.container .last .signup {
    font-size: 14px;
    display: block;
    margin-bottom: 30px
}
.container .last .logo {
    margin: 0 auto;
    width: 192px;
    height: 50px;
    background: url(images/blue2.png) no-repeat
}
.container .last .logo img {
    width: 150px;
    margin-top: 9px
}
.container footer {
    overflow: auto;
    margin-bottom: 20px
}
.container footer .copyright {
    float: left;
    font-size: 12px
}
.container footer .copyright div {
    margin-bottom: 10px
}
.container footer .copyright a {
    color: #0071B6
}
.container footer .vo-logo {
    width: 180px;
    height: 80px;
    display: block;
    background: url(images/vo-logo.svg) no-repeat;
    -webkit-background-size: 180px, auto;
    -moz-background-size: 180px, auto;
    -o-background-size: 180px, auto;
    background-size: 180px, auto;
    float: right;
    margin-top: -32px
}
@media screen and (max-width:700px) {
    .container {
        padding: 40px 20px
    }
    .container header nav {
        float: none;
        margin-top: 30px
    }
    .container header nav .sign {
        display: block
    }
    .container header .logo, .container header .vo-logo {
        float: none
    }
    .container header .item {
        margin: 0 auto;
        text-align: center;
        display: block
    }
    .container .title {
        margin-top: 60px
    }
    .container .intro-list .intro .title {
        margin-top: 120px
    }
    .container footer .copyright {
        float: none;
        width: 100%;
        text-align: center
    }
    .container footer .vo-logo {
        float: none;
        margin: 0 auto;
        text-align: center
    }
}
