body,h1,h2,h3,h4,h5,h6,ul,ol,li,p,form,dt,dd,input,textarea,th,td,fieldset,legend,dl,dt,dd,figure{margin:0;padding:0;}
fieldset,img{border:0 none}
ul,ol,li{list-style:none}
table{border-spacing:0}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
*:focus{outline:none}
q:before,q:after{content:""}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
body,input,select,button,textarea{font:16px/1.5 Arial,Helvetica,sans-serif;}
*,*:after,*:before{-webkit-user-select:none;-webkit-touch-callout:none;-ms-user-select: none;-webkit-tap-highlight-color:rgba(255,255,255,0);}
html,body{background:#fff;color:#000;-webkit-user-select:none;-webkit-moz-select:none;-webkit-o-select:none;-webkit-ms-select:none;user-select:none;}
table{border-collapse:collapse;border-spacing:0;}
input,textarea{ border:1px solid #b8b7b3;-webkit-user-select:auto;}
em{font-style:normal;font-weight:normal}
sub, sup {font-size:75%;line-height:0;position:relative;vertical-align: baseline}
sup {top: -0.5em}
sub {bottom: -0.25em}
img{vertical-align:top;max-width:100%;}
a{text-decoration:none;color:#000;}
html,body{font-family:Arial,"微软雅黑";}
body{background:transparent;}
canvas{display:block;padding:0;margin:0;}
pre{word-wrap:break-word;margin:0;}

.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.clear{clear:both;}
.clear:after,.tab-title:after{content:"";display:block;clear:both;height:0;line-height:0;overflow:hidden;font-size:0;}
.clear.tab-title{zoom:1;}
.fixbottom,.fixtop{position:fixed;left:0;bottom:0;width:100%;height:82px;background:rgba(0,0,0,.6);z-index:2}
.fixbottom .containWrap,.fixtop .containWrap{position:absolute;left:0;top:0;width:100%;height:100%;bottom:0;}
.fixtop{top:0;bottom:auto;}
.m15{margin-top:15px;}
.m25{margin-top:25px;}
.space_1{padding:1px 0 0 0;}
.space_2{padding:2px 0 0 0;}
.space_3{padding:3px 0 0 0;}
.space_4{padding:4px 0 0 0;}
.space_5{padding:5px 0 0 0;}
.space_6{padding:6px 0 0 0;}
.space_7{padding:7px 0 0 0;}
.space_8{padding:8px 0 0 0;}
.space_9{padding:9px 0 0 0;}
.space_10{padding:10px 0 0 0;}
.space_15{padding:15px 0 0 0;}
.space_20{padding:20px 0 0 0;}
.space_30{padding:30px 0 0 0;}
.space_40{padding:40px 0 0 0;}
.space_50{padding:50px 0 0 0;}
.tc{text-align:center;}
.tr{text-align:right;}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f22{font-size:22px;}
.indent{text-indent:2em;}


body{
    background:#f0f0f0;
}

.w1200{
    width:1200px;margin:0 auto;
}

.header{
    width:100%;height:90px;
    background:#fff;
    box-shadow:0 0 10px rgba(0,0,0,.1);
}
.header .logo{
    float:left;
    width:200px;
}
.header .logo a{
    display:block;
    width:200px;height:62px;
    padding:14px 0;
}
.header .logo img{
    display:block;
    width:180px;height:62px;
}
.header .nav{
    float:right;
    width:680px;
}
.header .nav li{
    float:left;
    width:110px;height:90px;
    text-align:center;line-height:90px;font-size:16px;
}
.header .nav li a{
    color:#333;
}
.header .nav li a.active,.header .nav li a:hover{
    cursor:pointer;
    color:#fc0;
}
.header .search{
    float:right;
    width:278px;height:34px;
    margin-top:27px;
    border:1px solid #ddd;border-radius:36px;
}
.header .search input[type="text"]{
    float:left;
    width:225px;height:20px;
    border:none;outline:none;
    margin-top:2px;padding:5px 10px;
    font:14px/14px "微软雅黑";
    color:#666;background:transparent;
}
.header .search input[type="submit"]{
    width:30px;height:30px;
    border:none;outline:none;
    background:transparent url(../images/search_icon.png) no-repeat center center;
    margin-top:2px;
    cursor:pointer;
}

.crumbs{
    width:1200px;height:50px;
    margin:0 auto;
    font-size:12px;line-height:50px;
    color:#999;
}
.crumbs em{
    margin:0 5px;
    font-family:"宋体";
}
.crumbs a{
    color:#666;
}
.crumbs span{
    margin-right:5px;
}

.footer{
    padding:30px 0 50px;
    font-size:12px;
    box-shadow:0 0 1px rgba(0,0,0,.1);
}
.footer .logo{
    display:block;
    width:161px;height:43px;
    margin-bottom:10px;
}
.footer .copyright{
    float:left;
    width:600px;
    margin-right:50px;
}
.footer .copyright .nav{
    height:16px;
    padding:15px 0;
    border-bottom:1px solid #ddd;
    line-height:16px;font-size:14px;
}
.footer .copyright .nav li{
    float:left;
    margin-left:15px;padding-left:15px;
    border-left:1px solid #ddd;
}
.footer .copyright .nav li:first-child{
    margin-left:0;padding-left:0;
    border-left:0;
}
.footer .copyright .nav a{
    font-size:12px;
    color:#999;
}
.footer .copyright .nav a:hover{
    cursor:pointer;
    color:#666;
}
.footer .copyright p{
    height:44px;
    line-height:44px;
    color:#999;
}
.footer .copyright .approve{
    height:40px;
    margin-top:10px;
}
.footer .copyright .approve img{
    float:left;
    width:100px;height:40px;
    margin-right:15px;
}
.footer .others{
    float:left;
    width:250px;
    margin-right:20px;
}
.footer .others li{
    height:30px;overflow:hidden;
    line-height:30px;font-size:14px;
    color:#999;
}
.footer .others li img{
    float:left;
    width:18px;height:18px;
    margin:6px 6px 0 0;
}
.footer .code{
    float:left;
    width:280px;
}
.footer .code dt{
    float:left;
    width:120px;
    padding-right:20px;
}
.footer .code dd{
    float:left;
    width:120px;
    padding-left:20px;
}
.footer .code img{
    display:block;
    width:120px;height:120px;
    margin:0 0 0 0;
}
.footer .code span{
    display:block;
    width:120px;height:30px;
    text-align:center;line-height:30px;
    color:#999;
}

.index_page{

}
#full-screen-slider { width:100%; height:648px; float:left; position:relative}

#slides{
    position:relative;
    display:block;
    width:100%;height:648px;
    padding:0;margin:0;
    list-style:none;
}
#slides li{
    position:absolute;
    display:block;
    width:100%;height:100%;
    padding:0; margin:0;
    list-style:none;
    background-position:center top;background-repeat:no-repeat;background-size:auto 100%;
}
#slides li a{
    display:block;
    width:100%;height:100%;
    text-indent:-9999px;
}
#pagination{
    position:absolute;left:0;bottom:0;z-index:9900;
    display:block;
    width:100%;
    padding:5px 0;
    text-align:center;
}
#pagination li {
    display:inline-block;
    width:12px;height:12px;
    margin:0 5px;
    border-radius:5px;
    background:url(../images/circlebutton.png) no-repeat -4px -4px;
    transition:all .5s;
}
#pagination li a{
    display:block;
    width:100%;height:100%;
    padding:0;margin:0;
    text-indent:-9999px;
}
#pagination li.current{
    background:url(../images/circlebutton.png) no-repeat -4px -26px;
}



.index_page{

}
.index_page .intro_img{
    padding-top:8px;
    background:#fff;
}
.index_page .intro_img a{
    float:left;
    width:25.15%;max-height:250px;overflow:hidden;
    padding-left:8px;
    box-sizing:border-box;
}
.index_page .intro_img a:first-child{
    width:24.55%;
    padding-left:0;
}
.index_page .intro_img a img{
    display:block;
    width:100%;max-width:none;
    transition:opacity .25s;
}
.index_page .intro_img a:hover img{
    opacity:.85;
}



.brand_page{
    width:1201px;
    margin:0 auto;

}
.brand_page .tab_title{
    height:60px;
    border-top:1px solid #ddd;border-right:1px solid #ddd;
}
.brand_page .tab_title li{
    float:left;
    width:399px;height:60px;
    border-left:1px solid #ddd;
    text-align:center;line-height:60px;
    color:#333;background:#ddd;
    cursor:pointer;
}
.brand_page .tab_title li span{
    display:block;
    height:59px;
    background:#fff;
    transition:height .25s;
}
.brand_page .tab_title li:hover span{
    height:55px;
}
.brand_page .tab_title li.active{
    color:#fc0;background:#fc0;
}
.brand_page .tab_title li.active span{
    height:55px;
}
.brand_page .brand_list{
}
.brand_page .brand_list li{
    position:relative;
    height:300px;
    margin-top:20px;
    background:#fff;
    box-shadow:0 0 10px rgba(0,0,0,.15);
}
.brand_page .brand_list a{
    float:left;
    width:225px;height:225px;
    margin-top:75px;
}
.brand_page .brand_list a img{
    display:block;
    width:100%;height:100%;
}
.brand_page .brand_list a:first-child{
    width:300px;height:300px;
    margin-top:0;margin-right:1px;
}
.brand_page .brand_list a:last-child{
    position:absolute;right:0;top:0;z-index:1;
    height:75px;
    margin-top:0;
}
.brand_page .brand_demo{

}
.brand_page .brand_demo h2{
    height:133px;
    border:1px solid #ddd;border-bottom:0;
    background:#fff;
}
.brand_page .brand_demo h2.float{
    height:93px;
    position:fixed;top:0;left:0;z-index:11;
    width:100%;
    box-shadow:0 0 10px rgba(0,0,0,.25);
}
.brand_page .brand_demo h2 img{
    float:left;
    width:180px;height:31px;
    margin:51px 0 0 50px;
}
.brand_page .brand_demo h2.float img{
    margin-top:31px;
}
.brand_page .brand_demo h2 .nav{
    float:right;
    height:16px;
    margin:59px 30px 0 0;
}
.brand_page .brand_demo h2.float .nav{
    margin-top:39px;
}
.brand_page .brand_demo h2 .nav a{
    float:left;
    font-size:16px;line-height:16px;
    margin-left:30px;padding-left:30px;
    border-left:1px solid #ddd;
    color:#999;
}
.brand_page .brand_demo h2 .nav a:hover{
    color:#666;
}
.brand_page .brand_demo h2 .nav a.active{
    color:#fc0;
}
.brand_page .brand_demo h2 .nav a:first-child{
    border-left:0;
}
.brand_page .brand_demo li{
    margin-bottom:30px;
    border:1px solid #ddd;border-right:0;border-bottom:0;
}
.brand_page .brand_demo li dt{
    position:relative;
    float:left;
    width:299px;height:299px;
    border-right:1px solid #ddd;border-bottom:1px solid #ddd;
    color:#fff;background:#fc0;
}
.brand_page .brand_demo li dt strong{
    display:block;
    height:30px;
    padding:30px;
    font-size:30px;font-weight:normal;
}
.brand_page .brand_demo li dt em{
    position:absolute;right:30px;bottom:30px;z-index:1;
    display:block;
    line-height:40px;
    font-size:40px;font-family:"宋体";font-weight:bold;
}
.brand_page .brand_demo li dd{
    position:relative;
    float:left;
    width:299px;height:299px;
    border-right:1px solid #ddd;border-bottom:1px solid #ddd;
    background:#fff;
}
/*.brand_page .brand_demo li dd:nth-child(4n){
    width:300px;
}*/
.brand_page .brand_demo li dd a{
    display:block;
    width:299px;height:299px;
}
.brand_page .brand_demo li dd img{
    display:block;
    width:240px;height:240px;
    margin:0 auto;
}
.brand_page .brand_demo li dd p{
    padding:0 20px;
    max-height:50px;overflow:hidden;
    font-size:14px;line-height:25px;
    color:#666;
}
.brand_page .brand_demo li dd i{
    position:absolute;right:0;top:0;z-index:1;
    display:block;
    width:50px;height:50px;
    line-height:50px;text-align:center;font-size:14px;font-style:normal;
    color:#fff;background:#e3320c;
}
.brand_page .brand_demo li dd .play{
    position:absolute;top:0;left:0;z-index:2;
    display:block;
    width:100%;height:100%;
    background:rgba(0,0,0,.5) url(../images/play.png) no-repeat center center;
    opacity:0;
    transition:all .25s;
}
.brand_page .brand_demo li dd:hover{
    cursor:pointer;
}
.brand_page .brand_demo li dd.active .play,.brand_page .brand_demo li dd:hover .play{
    opacity:1;
}
.brand_page .brand_detail{
    display:none;
    position:relative;
    border:1px solid #ddd;
    background:#fff;
}
.brand_page .brand_detail .close{
    position:absolute;right:-60px;top:-15px;z-index:2;
    width:70px;height:70px;
    line-height:70px;text-align:center;font-size:30px;font-weight:normal;font-family:"宋体";
    color:#999;
}
.brand_page .brand_detail .close:hover{
    cursor:pointer;
    color:#666;
}
.brand_page .brand_detail .imgs{
    float:left;
    width:450px;
    padding:20px;
}
.brand_page .brand_detail .imgs dt{
    position:relative;
    width:448px;height:448px;
    margin-bottom:14px;
    border:1px solid #ddd;
}
.brand_page .brand_detail .imgs dt img{
    display:block;
    width:448px;height:448px;
}
.brand_page .brand_detail .imgs dt i{
    position:absolute;right:0;top:0;z-index:1;
    display:block;
    width:50px;height:50px;
    line-height:50px;text-align:center;font-size:14px;font-style:normal;
    color:#fff;background:#e3320c;
}
.brand_page .brand_detail .imgs dd{
    float:left;
    width:100px;height:100px;
    margin-right:14px;
    border:1px solid #ddd;
}
.brand_page .brand_detail .imgs dd.active,.brand_page .brand_detail .imgs dd:hover{
    cursor:pointer;
    border-color:#fb0;
}
.brand_page .brand_detail .imgs dd:last-child{
    margin-right:0;
}
.brand_page .brand_detail .imgs dd img{
    display:block;
    width:100px;height:100px;
}
.brand_page .brand_detail .table{
    float:right;
    width:680px;
    padding:20px 20px 0 0;
}
.brand_page .brand_detail .table h3{
    height:50px;
    margin-bottom:5px;padding:0 15px;
    font-size:18px;line-height:50px;
    background:#fff5cc;
}
.brand_page .brand_detail .table p{
    height:38px;
    margin-bottom:5px;
    font-size:14px;line-height:38px;
    color:#666;background:#fcfcfc;
}
.brand_page .brand_detail .table p strong{
    float:left;
    width:100px;
    margin-right:15px;
    font-weight:normal;text-align:center;
    color:#333;background:#f2f2f2;
}
.brand_page .brand_detail .table .btns{
    margin-top:20px;
}
.brand_page .brand_detail .table .btns a{
    display:inline-block;
    height:48px;
    padding:0 25px;margin-right:20px;
    text-align:center;line-height:48px;font-size:16px;
    border:1px solid #ddd;border-radius:3px;
    color:#666;background:#f8f8f8;
}
.brand_page .brand_detail .table .btns a em{
    display:inline-block;
    width:24px;height:24px;
    margin-right:5px;
    vertical-align:-5px;
}
.brand_page .brand_detail .table .btns a em.doc_icon{
    background:url(../images/doc_icon1.png) no-repeat;
}
.brand_page .brand_detail .table .btns a em.mer_icon{
    background:url(../images/mer_icon1.png) no-repeat;
}
.brand_page .brand_detail .table .btns a em.col_icon{
    background:url(../images/col_icon1.png) no-repeat;
}
.brand_page .brand_detail .table .btns a:hover,.brand_page .brand_detail .table .btns a.active{
    border:1px solid #fb0;
    color:#fff;background:#fc0;
}
.brand_page .brand_detail .table .btns a:hover em.doc_icon,.brand_page .brand_detail .table .btns a.active em.doc_icon{
    background:url(../images/doc_icon2.png) no-repeat;
}
.brand_page .brand_detail .table .btns a:hover em.mer_icon,.brand_page .brand_detail .table .btns a.active em.mer_icon{
    background:url(../images/mer_icon2.png) no-repeat;
}
.brand_page .brand_detail .table .btns a:hover em.col_icon,.brand_page .brand_detail .table .btns a.active em.col_icon{
    background:url(../images/col_icon2.png) no-repeat;
}
.brand_page .brand_detail .title{
    padding:0 20px;
    font-size:18px;line-height:60px;
    border-bottom:1px solid #ddd;
}
.brand_page .brand_detail .vsobj dd{
    position:relative;
    float:left;
    width:299px;height:299px;
    border-right:1px solid #ddd;border-bottom:1px solid #ddd;
    background:#fff;
}
.brand_page .brand_detail .vsobj dd:nth-child(4n){
    border-right:0;
}
.brand_page .brand_detail .vsobj dd label{
    display:block;
    width:299px;height:299px;
}
.brand_page .brand_detail .vsobj dd img{
    display:block;
    width:240px;height:240px;
    margin:0 auto;
}
.brand_page .brand_detail .vsobj dd p{
    padding:0 20px;
    max-height:50px;overflow:hidden;
    font-size:14px;line-height:25px;
    color:#666;
}
.brand_page .brand_detail .vsobj dd input[type="checkbox"]{
    position:absolute;top:15px;right:15px;z-index:1;
}
.brand_page .brand_detail .contrast_btn{
    display:block;
    width:150px;height:48px;
    margin:30px auto 50px;
    text-align:center;line-height:48px;font-size:16px;
    border:1px solid #ddd;border-radius:3px;
    color:#666;background:#f8f8f8;
}
.brand_page .brand_detail .contrast_btn:hover,.brand_page .brand_detail .contrast_btn.active{
    border:1px solid #fb0;
    color:#fff;background:#fc0;
}
.brand_page .brand_contrast{
    padding:10px 20px 20px;
    border:1px solid #ddd;
    background:#fff;
}
.brand_page .brand_contrast .title h2{
    height:60px;
    font-size:20px;line-height:60px;
}
.brand_page .brand_contrast ul{
    float:left;
    width:127px;
    border:1px solid #ddd;
    background:#ffe57f;
    color:#333;
}
.brand_page .brand_contrast li{
    height:40px;
    line-height:40px;font-size:14px;text-align:center;
}
.brand_page .brand_contrast li:nth-child(2n+1){
    background:#ffd83f;
}
.brand_page .brand_contrast li:nth-child(2){
    height:300px;
    line-height:300px;
}
.brand_page .brand_contrast dl{
    float:left;
    width:205px;
    border:1px solid #ddd;border-left:0;
    color:#333;
}
.brand_page .brand_contrast dt{
    height:40px;
    line-height:40px;font-size:14px;text-align:center;
    background:#ffd83f;
}
.brand_page .brand_contrast dd{
    height:40px;
    line-height:40px;font-size:14px;text-align:center;
}
.brand_page .brand_contrast dd:nth-child(2n+1){
    background:#f2f2f2;
}
.brand_page .brand_contrast dd:nth-child(2){
    height:280px;
    padding-top:20px;
}
.brand_page .brand_contrast dd img{
    display:block;
    margin:0 auto 20px;
}
.brand_page .brand_contrast dd select{
    height:32px;width:168px;
    padding:0 5px;
    border:1px solid #ddd;
    font-size:14px;
    color:#666;
}




.app_page{
    width:1220px;
    margin:0 auto;
}
.app_page li{
    position:relative;top:0;
    float:left;
    width:285px;height:200px;
    margin:0 10px 20px;
    box-shadow:0 0 10px rgba(0,0,0,.15);
    transition:top .25s;
}
.app_page li a{
    display:block;
    width:285px;height:200px;
}
.app_page li img{
    display:block;
    width:285px;height:200px;
}
.app_page li span{
    position:absolute;bottom:0;left:0;z-index:2;
    display:block;
    width:285px;height:40px;
    text-align:center;line-height:40px;
    color:#fff;background:rgba(0,0,0,.5);
    transition:color .25s;
}
.app_page li:hover{
    top:-10px;
}
.app_page li:hover span{
    color:#fc0;
}
.app_page .app_detail{
    padding:30px;margin:0 10px;
    border:1px solid #ddd;
    background:#fff;
}
.app_page .app_detail h1{
    font-size:30px;text-align:center;line-height:80px;
    color:#333;
}
.app_page .app_detail p{
    font-size:14px;line-height:30px;text-indent:2em;
    margin:15px 0;
    color:#666;
}
.app_page .app_detail .time{
    margin-top:50px;
    text-align:right;
    color:#999;
}
.app_page .app_detail img{
    display:block;
    margin:30px auto;
}



.trade_page{
    width:1220px;
    margin:0 auto;
}
.trade_page .trade_class li{
    position:relative;top:0;
    float:left;
    width:285px;height:150px;
    margin:0 10px 20px;
    border-radius:5px;
    background:#fff;
    box-shadow:0 0 10px rgba(0,0,0,.15);
    transition:top .25s;
}
.trade_page .trade_class li a{
    display:block;
    width:285px;height:150px;
}
.trade_page .trade_class li img{
    float:left;
    width:100px;height:100px;
    margin:25px 25px 25px 35px;
}
.trade_page .trade_class li span{
    float:left;
    width:125px;height:150px;
    line-height:150px;font-size:18px;
    color:#333;
    transition:color .25s;
}
.trade_page .trade_class li:hover{
    top:-10px;
}
.trade_page .trade_class li:hover span{
    color:#fc0;
}
.trade_page .trade_demo{
    margin:0 10px;
}
.trade_page .trade_demo .title{
    height:40px;
    border-bottom:1px solid #ddd;
}
.trade_page .trade_demo .title a{
    float:left;
    height:40px;
    padding:0 30px;
    line-height:40px;font-size:14px;
    color:#666;
}
.trade_page .trade_demo .title a.active{
    border:1px solid #ddd;border-bottom:1px solid #fff;
    color:#fc0;background:#fff;
}
.trade_page .trade_demo .title a:hover{
    color:#fc0;
}
.trade_page .trade_demo ul{
    border-right:1px solid #ddd;border-left:1px solid #ddd;
    background:#fff;
}
.trade_page .trade_demo li{
    padding:20px;
    border-bottom:1px solid #ddd;
}
.trade_page .trade_demo li h3{
    height:50px;
}
.trade_page .trade_demo li h3 strong{
    float:left;
    height:30px;
    padding:0 15px;
    border-radius:3px;border:1px solid #fb0;
    font-size:14px;line-height:30px;font-weight:normal;
    color:#fff;background:#fc0;
}
.trade_page .trade_demo li img{
    display:block;
    width:100%;height:100%;
}
.trade_page .trade_demo li dl{

}
.trade_page .trade_demo li dl a{
    display:block;
    width:100%;height:100%;
}
.trade_page .trade_demo li dt{
    position:relative;
    float:left;
    width:578px;height:350px;
    margin-bottom:10px;
}
.trade_page .trade_demo li dt em{
    position:absolute;bottom:0;right:0;z-index:1;
    display:block;
    width:100%;height:100%;
    background:rgba(0,0,0,0) url(../images/play.png) no-repeat right bottom;
    transition:background .25s;
}
.trade_page .trade_demo li dt:hover em{
    background:rgba(0,0,0,.25) url(../images/play.png) no-repeat right bottom;
}
.trade_page .trade_demo li dd{
    position:relative;
    float:left;
    width:280px;height:170px;
    margin:0 0 10px 10px;
}
.trade_page .trade_demo li dd em{
    position:absolute;bottom:0;right:0;z-index:1;
    display:block;
    width:100%;height:100%;
    background:rgba(0,0,0,0) url(../images/play.png) no-repeat center center;background-size:80px 80px;
    transition:background .25s;
}
.trade_page .trade_demo li dd:hover em{
    background:rgba(0,0,0,.25) url(../images/play.png) no-repeat center center;background-size:80px 80px;
}
.trade_page .trade_demo li dd span{
    position:absolute;bottom:0;left:0;z-index:1;
    display:block;
    width:90%;max-height:52px;overflow:hidden;
    padding:5px 5%;
    font-size:14px;line-height:26px;
    color:#fff;background:rgba(0,0,0,.5);
}
.trade_page .trade_video{
    margin:0 10px;
}
.trade_page .trade_video .title{
    height:40px;
    border-bottom:1px solid #ddd;
}
.trade_page .trade_video .title a{
    float:left;
    height:40px;
    padding:0 30px;
    line-height:40px;font-size:14px;
    color:#666;
}
.trade_page .trade_video .title a.active{
    border:1px solid #ddd;border-bottom:1px solid #fff;
    color:#fc0;background:#fff;
}
.trade_page .trade_video .title a:hover{
    color:#fc0;
}
.trade_page .trade_videos{
    padding:20px;
    border:1px solid #ddd;border-top:0px;
    background:#fff;
}
.trade_page .trade_videos .subtitle{
    
}
.trade_page .trade_videos .subtitle p{
    height:30px;
    margin-bottom:20px;
}
.trade_page .trade_videos .subtitle a{
    display:inline-block;
    height:30px;
    padding:0 15px;margin-right:12px;
    border:1px solid #ddd;border-radius:3px;
    font-size:14px;line-height:30px;
    color:#333;background:#f2f2f2;
}
.trade_page .trade_videos .subtitle a.active,.trade_page .trade_videos .subtitle a:hover{
    border:1px solid #fb0;
    color:#fff;background:#fc0;
}
.trade_page .trade_video dl{
    height:450px;
    color:#fff;background:#1b1b1b;
}
.trade_page .trade_video dt{
    float:left;
    width:800px;height:450px;
}
.trade_page .trade_video dd{
    float:left;
    width:358px;height:450px;overflow-y:auto;
}
.trade_page .trade_video dd li{
    height:74px;
    padding:15px;
    border-bottom:1px solid #414141;
    cursor:pointer;
}
.trade_page .trade_video dd li a{
    display:block;
    width:100%;height:100%;
}
.trade_page .trade_video dd li img{
    float:left;
    width:120px;height:70px;
    margin-right:15px;
    border:2px solid #1b1b1b;
}
.trade_page .trade_video dd li p{
    float:left;
    width:172px;max-height:60px;overflow:hidden;
    margin-top:5px;
    line-height:30px;font-size:14px;
    color:#fff;
}
.trade_page .trade_video dd li.active{
    background:#000;
}
.trade_page .trade_video dd li.active img{
    border:2px solid #fc0;
}
.trade_page .trade_video dd li.active p{
    color:#fc0;
}
.trade_page .trade_video dd li:hover{
    background:#111;
}

.integrator_page{
    width:1200px;
    margin:0 auto;
}
.integrator_page .title{
    height:26px;
    padding:20px;
    border-bottom:1px solid #ddd;
    font-size:18px;line-height:26px;
    background:#fff;
}
.integrator_page .title strong{
    float:left;
    font-weight:normal;
}
.integrator_page .title ul{
    float:left;
    height:26px;
}
.integrator_page .title li{
    float:left;
}
.integrator_page .title li span{
    float:left;
    height:24px;
    padding:0 10px;margin:0 5px 0 20px;
    border:1px solid #fc0;border-radius:3px;
    line-height:24px;font-size:14px;
    color:#fc0;background:#fff0b2;
}
.integrator_page .title li span img{
    display:block;
    height:24px;
    border:1px solid #ddd;border-radius:3px;
}
.integrator_page .title li:last-child span{
    height:26px;
    padding:0;
    border:0;border-radius:0;
}
.integrator_page .title li em{
    color:#999;
}
.integrator_page .title li em:hover{
    cursor:pointer;
    color:#333;
}
.integrator_page .integrator_filter{
    border:1px solid #ddd;
    background:#fff;
}
.integrator_page .integrator_filter dl{
    height:30px;overflow:hidden;
    margin:0 20px;padding:15px 0;
    border-bottom:1px dotted #ddd;
    line-height:30px;font-size:14px;
}
.integrator_page .integrator_filter dl:last-child{
    border-bottom:0;
}
.integrator_page .integrator_filter dt{
    float:left;
    font-size:16px;
    margin-right:20px;
}
.integrator_page .integrator_filter dt img{
    float:left;
    width:20px;height:20px;
    margin:5px 10px 0 0;
}
.integrator_page .integrator_filter dd{
    float:left;
}
.integrator_page .integrator_filter dd a{
    display:inline-block;
    padding:0 10px;
    margin-right:10px;
    color:#666;
}
.integrator_page .integrator_filter dd a img{
    display:block;
    width:60px;height:30px;
    border-radius:3px;border:1px solid #ddd;
}
.integrator_page .integrator_filter dd a:hover,.integrator_page .integrator_filter dd a.active{
    border-radius:3px;
    color:#fff;background:#fc0;
    cursor:pointer;
}
.integrator_page .integrator_filter dl:last-child dd a{
    padding:0;margin-right:15px;
}
.integrator_page .integrator_list{
    margin-top:20px;
    border:1px solid #ddd;border-bottom:0;border-right:0;
}
.integrator_page .integrator_list .title{
    border-right:1px solid #ddd;
}
.integrator_page .integrator_list li{
    float:left;
    width:558px;height:150px;
    padding:20px;
    font-size:14px;line-height:30px;
    border-right:1px solid #ddd;border-bottom:1px solid #ddd;
    background:#fff;
}
.integrator_page .integrator_list li:nth-child(2n){
    width:559px;
}
.integrator_page .integrator_list li img{
    float:left;
    width:150px;height:150px;
    margin-right:20px;
}
.integrator_page .integrator_list li h3{
    height:30px;overflow:hidden;
    font-size:16px;
    color:#333;
}
.integrator_page .integrator_list li p{
    height:30px;overflow:hidden;
    color:#999;
}
.integrator_page .integrator_list li em{
    color:#fc0;
}
.integrator_page .integrator_list li:hover{
    box-shadow:0 0 10px rgba(0,0,0,.1) inset;
}




.news_page{
    width:1200px;
    margin:0 auto;
}
.news_page .main{
    padding:10px;
    margin-bottom:20px;
    border:1px solid #ddd;
    background:#fff;
}
.news_page .main .banner{
    float:left;
    width:750px;height:300px;
    margin-right:20px;
}
.focus{ position:relative; width:750px; height:300px; background-color: #000; float: left;}  
.focus img{ width:750px; height:300px;} 
.focus .shadow .title{width: 260px; height: 65px;padding-left: 30px;padding-top: 20px;}
.focus .shadow .title a{ text-decoration:none; color:#fff; font-size:14px; font-weight:bolder; overflow:hidden; }
.focus .btn{ position:absolute; bottom:34px; left:510px; overflow:hidden; zoom:1;} 
.focus .btn a{position:relative; display:inline; width:13px; height:13px; border-radius:7px; margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53"; text-decoration:none; text-align:center; outline:0; float:left; background:#D9D9D9; }  
.focus .btn a:hover,.focus .btn a.current{  cursor:pointer;background:#fc114a;}  
.focus .fPic{ position:absolute; left:0px; top:0px; }  
.focus .D1fBt{ overflow:hidden; zoom:1;  height:16px; z-index:10;  }  
.focus .shadow{ width:100%; position:absolute; bottom:0; left:0px; z-index:10; height:50px; line-height: 50px; background:rgba(0,0,0,0.6);    
filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;  display:block;  text-align:left; }  
.focus .shadow a{ text-decoration:none; color:#fff; font-size:16px; overflow:hidden; margin-left:20px; font-family: "\5FAE\8F6F\96C5\9ED1";}  
.focus .fcon{ position:relative; width:100%; float:left;  display:none; background:#000  }  
.focus .fcon img{ display:block; }  
.focus .fbg{bottom:16px; right:40px; position:absolute; height:21px; text-align:center; z-index: 200; }  
.focus .fbg div{margin:4px auto 0;overflow:hidden;zoom:1;height:14px}    
.focus .D1fBt a{position:relative; display:inline; width:12px; height:12px; border-radius:7px; margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53"; text-decoration:none; text-align:center; outline:0; float:left; background:#D9D9D9; }    
.focus .D1fBt .current,.focus .D1fBt a:hover{background:#fc114a;}    
.focus .D1fBt img{display:none}    
.focus .D1fBt i{display:none; font-style:normal; }    
.focus .prev,.focus .next{position:absolute;width:40px;height:74px;background: url(../images/focus_btn.png) no-repeat;}
.focus .prev{top: 50%;margin-top: -37px; left: 0;background-position:0 -74px; cursor:pointer; }  
.focus .next{top: 50%;margin-top: -37px; right: 0;  background-position:-40px -74px;  cursor:pointer;}  
.focus .prev:hover{  background-position:0 0; }  
.focus .next:hover{  background-position:-40px 0;}  
.news_page .main dl{
    float:left;
    width:405px;
}
.news_page .main dt{

}
.news_page .main dt h3{
    height:40px;overflow:hidden;
    line-height:40px;font-size:16px;
    color:#333;
    text-overflow:ellipsis;white-space:nowrap;
   
}
.news_page .main dt h3 strong{
    display:inline-block;
    height:28px;
    padding:0 15px;margin-right:5px;
    border-radius:3px;
    line-height:28px;font-size:14px;font-weight:normal;
    color:#fff;background:#b00;
    vertical-align:middle;
}
.news_page .main dt h3 em{
    float:right;
    font-size:12px;
    color:#999;
}
.news_page .main dt p{
    padding:5px 10px;margin-top:5px;
    font-size:14px;line-height:28px;text-indent:2em;
    color:#333;background:#f2f2f2;
}
.news_page .main dt p a{
    font-family:"宋体";
    color:#b00;
}
.news_page .main dt p a:hover{
    text-decoration:underline;
}
.news_page .main dd{
    height:30px;overflow:hidden;
    padding-top:5px;margin-top:5px;
    line-height:30px;
    border-top:1px dotted #ddd;
    font-size:14px;
    text-overflow:ellipsis;white-space:nowrap;
    color:#666;
}
.news_page .main dd:nth-child(2){
    border:0;
}
.news_page .main dd a:hover{
    color:#fc0;
}
.news_page .main dd em{
    float:right;
    color:#999;
}
.news_page .left{
    float:left;
    width:900px;
    border:1px solid #ddd;
    background:#fff;
}
.news_page .left .title{
    height:50px;
    padding:5px 20px;
    font-size:16px;line-height:50px;
    border-bottom:1px solid #ddd;
}
.news_page .left .title strong{
    font-weight:normal;font-size:18px;
}
.news_page .left .title .tab{
    float:right;
    height:18px;
    margin-top:16px;
}
.news_page .left .title .tab li{
    float:left;
    height:18px;
    margin-left:20px;padding-left:20px;
    line-height:18px;
    border-left:1px solid #ddd;
}
.news_page .left .title .tab li:first-child{
    border-left:0;
}
.news_page .left .title .tab li a{
    color:#999;
}
.news_page .left .title .tab li a.active,.news_page .left .title .tab li a:hover{
    color:#fc0;
}
.news_page .left dl{
    float:left;
    width:420px;
    margin:20px 0 0 20px;
}
.news_page .left dt{
    padding:10px;
    background:#f2f2f2;
}
.news_page .left dt img{
    float:left;
    width:120px;height:120px;
    margin-right:15px;
}
.news_page .left dt h3{
    height:32px;
    font-size:16px;line-height:32px;
}
.news_page .left dt p{
    max-height:88px;overflow:hidden;
    font-size:14px;line-height:22px;
    color:#666;
}
.news_page .left dt p a{
    font-family:"宋体";
    color:#b00;
}
.news_page .left dt p a:hover{
    text-decoration:underline;
}
.news_page .left dd{
    height:30px;overflow:hidden;
    padding-top:5px;margin-top:5px;
    line-height:30px;
    border-top:1px dotted #ddd;
    font-size:14px;
    text-overflow:ellipsis;white-space:nowrap;
    color:#666;
}
.news_page .left dd:nth-child(2){
    border:0;
}
.news_page .left dd em{
    float:right;
    color:#999;
}
.news_page .left dd a:hover{
    color:#fc0;
}
.news_page .left dd:last-child{
    text-align:right;
}
.news_page .left dd:last-child a{
    color:#fc0;
}
.news_page .left dd b{
    font-weight:normal;font-family:"宋体";
}
.news_page .right{
    float:right;
    width:279px;
}
.news_page .right .title{
    height:40px;
    padding:5px 15px;
    border-bottom:1px solid #ddd;
    font-size:16px;line-height:40px;
}
.news_page .right .title strong{
    font-weight:normal;
}
.news_page .right .title a{
    float:right;
    font-size:14px;
    color:#fc0;
}
.news_page .right .title a b{
    font-weight:normal;font-family:"宋体";
}
.news_page .right .warp{
    border:1px solid #ddd;
    background:#fff;
}
.news_page .right ul{
    padding:0 15px 10px;
}
.news_page .right li{
    position:relative;
    height:60px;overflow:hidden;
    padding-top:5px;margin-top:5px;
    line-height:30px;
    border-top:1px dotted #ddd;
    font-size:14px;
    color:#666;
}
.news_page .right li:first-child{
    border:0;
}
.news_page .right li em{
    display:block;
    position:absolute;right:0;bottom:0;z-index:1;
    padding-left:10px;
    color:#999;background:#fff;
}
.news_page .right li a:hover{
    color:#fc0;
}
.news_page .right li b{
    margin-right:5px;
    font-size:12px;vertical-align:1px;
    color:#fc0;
}
.news_page .right .ad{
    display:block;
    height:100px;
    margin:10px 15px 5px;
}
.news_page .right .ad img{
    display:block;
    width:100%;height:100px;
}

.news_page .news_article{
    padding:30px;
    background:#fff;
}
.news_page .news_article .notice{
    text-align:center;
    height:30px;
    font-size:14px;line-height:30px;
    color:#999;
}
.news_page .news_article .notice span{
    margin:0 20px;
}
.news_page .news_article h1{
    font-size:30px;text-align:center;line-height:80px;
    color:#333;
}
.news_page .news_article p{
    font-size:14px;line-height:30px;text-indent:2em;
    margin:15px 0;
    color:#666;
}
.news_page .news_article img{
    display:block;
    max-width:100%;
    margin:20px auto;
}
.news_page .news_article .new_others{
    height:60px;
    margin-top:20px;padding-top:20px;
    border-top:1px solid #ddd;
    line-height:30px;font-size:14px;
}
.news_page .news_article .new_others a{
    display:block;
    height:30px;overflow:hidden;
    color:#666;
}
.news_page .news_article .new_others a span{
    color:#fc0;
}
.news_page .news_article .new_others a:hover{
    color:#333;
}
.news_page .new_list{
    padding:0 20px;
}
.news_page .new_list li{
    height:138px;
    padding:20px 0;
    border-bottom:1px dotted #ddd;
}
.news_page .new_list li:hover{
    background:#f8f8f8;
}
.news_page .new_list li a{
    width:100%;height:100%;
}
.news_page .new_list li img{
    width:215px;height:138px;
    float:left;
    margin-right:20px;
}
.news_page .new_list li h3{
    height:30px;overflow:hidden;
    line-height:30px;font-size:16px;
}
.news_page .new_list li span{
    display:block;
    height:30px;
    font-size:12px;line-height:30px;
    color:#999;
}
.news_page .new_list li p{
    max-height:78px;overflow:hidden;
    font-size:14px;line-height:26px;
    color:#666;
}

.page{
    height:36px;
    padding:50px 0;
    text-align:center;
    color:#999;
}
.page a{
    display:inline-block;
    height:34px;min-width:34px;
    margin:0 3px;
    border:1px solid #ddd;border-radius:3px;
    font-size:14px;line-height:34px;
    color:#666;background:#f5f5f5;
}
.page a.btn,.page a.active,.page a:hover{
    border:1px solid #fb0;
    color:#fff;background:#fc0;
}
.page input[type="text"]{
    height:18px;width:50px;
    border:1px solid #ddd;outline:none;border-radius:3px;
    font-size:14px;line-height:18px;text-align:center;
    padding:8px 5px;
}
















