<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link rel="stylesheet" type="text/css" href="../css/basic.css" />
<link rel="stylesheet" type="text/css" href="../css/layout.css" />
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/layout.js"></script>
<title>login</title>
</head>
<body style="background:#fff;">
	<div class="head">
		<div class="w1000">
			<h1 class="logo">
				<img src="../images/logo.png" title="V群发" alt="V群发" />
				<span>群发素材、定时群发、同步群发</span>
			</h1>
			<div class="go_register">第一次使用V群发？<a href="javascript:void(0);">立即注册</a></div>
		</div>
	</div>
	<div class="login">
		<div class="main">
			<div class="w1000">
				<form>
					<h2>登录</h2>
					<dl>
						<dd>
							<em class="username_ico"></em>
							<input type="text" />
						</dd>
						<dd>
							<em class="password_ico"></em>
							<input type="password" />
						</dd>
						<dt>
							<a class="forget" href="javascript:void(0);">忘记密码？</a>
							<label><input type="checkbox" />记住帐号</label>
						</dt>
						<dt>
							<input type="submit" value="登录" />
						</dt>
					</dl>
				</form>
				<div class="code">
					<img src="../images/code.jpg" />
					<p>扫描并关注<br />V群发</p>
				</div>
			</div>
		</div>
		<div class="w1000">
			<div class="notice">
				<strong class="fl">系统公告</strong>
				<div class="fl">
					<i>●</i><a href="javascript:void(0);">微信公众平台关于禁止发布签类测试信息的公告超出隐藏</a><em></em>
				</div>
				<div class="fl">
					<i>●</i><a href="javascript:void(0);">微信公众平台关于禁止发布签类测试信息的公告</a><em></em>
				</div>
				<a class="fr" href="javascript:void(0);">查看更多<b></b></a>
			</div>
			<div class="functions">
				<dl>
					<dt><img src="../images/function1.png" /></dt>
					<dd><h3>群发素材</h3></dd>
					<dd><p>微信公众平台关于禁止发布签类测试信息的公告，微信公众平台关于禁止发布，签类测试信息的公告。</p></dd>
				</dl>
				<dl>
					<dt><img src="../images/function2.png" /></dt>
					<dd><h3>定时群发</h3></dd>
					<dd><p>微信公众平台关于禁止发布签类测试信息的公告，微信公众平台关于禁止发布，签类测试信息的公告。</p></dd>
				</dl>
				<dl>
					<dt><img src="../images/function3.png" /></dt>
					<dd><h3>同步群发</h3></dd>
					<dd><p>微信公众平台关于禁止发布签类测试信息的公告微信公众平台关于禁止发布，签类测试信息的公告。</p></dd>
				</dl>
				<div class="clear"></div>
			</div>
			<div class="case">
				<dl>
					<dt>成功案例</dt>
					<dd>
						<img src="../images/avatar1.jpg" />
						<p>中央花园</p>
					</dd>
					<dd>
						<img src="../images/avatar2.jpg" />
						<p>华韩美容</p>
					</dd>
					<dd>
						<img src="../images/avatar3.jpg" />
						<p>华润·幸福里</p>
					</dd>
					<dd>
						<img src="../images/avatar4.jpg" />
						<p>新农哥</p>
					</dd>
					<dd>
						<img src="../images/avatar5.jpg" />
						<p>有戏·互动推</p>
					</dd>
					<dd>
						<img src="../images/avatar1.jpg" />
						<p>中央花园</p>
					</dd>
					<dd>
						<img src="../images/avatar2.jpg" />
						<p>华韩美容</p>
					</dd>
				</dl>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="space_50"></div>
	<div class="foot">
		<a href="javascript:void(0);">关于我们</a>
		<a href="javascript:void(0);">服务协议</a>
		<a href="javascript:void(0);">运营规范</a>
		<a href="javascript:void(0);">客服中心</a>
		<a href="javascript:void(0);">联系邮箱</a>
		<a href="javascript:void(0);">侵权投诉</a>
		<span>Copyright © 2012-2015 Vqunfa. All Rights Reserved.</span>
	</div>
</body>
</html>
<script type="text/javascript">
</script>