<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link rel="stylesheet" type="text/css" href="../css/basic.css" />
<link rel="stylesheet" type="text/css" href="../css/layout.css" />
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/layout.js"></script>
<title>register</title>
</head>
<body>
	<div class="head">
		<div class="w1200">
			<h1 class="logo">
				<img src="../images/logo.png" title="V群发" alt="V群发" />
				<span>群发素材、定时群发、同步群发</span>
			</h1>
		</div>
	</div>
	<div class="register">
		<div class="title">
			<span class="active_step1">基本信息</span>
			<span>公众号授权</span>
		</div>
		<div class="main">
			<form onsubmit="return verify_submit()">
				<dl>
					<dt>帐号</dt>
					<dd>
						<input class="verify_name" type="text" verify="false" /><em></em>
						<p>作为登录帐号，请填写违背注册的真实QQ号</p>
					</dd>
					<dt>密码</dt>
					<dd>
						<input class="verify_pass1" type="password" verify="false" /><em></em>
						<p>字母、数字或因为符号，最短六位，区分大小写</p>
					</dd>
					<dt>确认密码</dt>
					<dd>
						<input class="verify_pass2" type="password" verify="false" /><em></em>
						<p>请再次输入密码</p>
					</dd>
					<dt>手机号</dt>
					<dd>
						<input class="verify_mobile" type="text" verify="false" /><em></em>
					</dd>
					<dt>短信验证码</dt>
					<dd>
						<input class="verify_vcode w150" type="text" verify="false" />
						<a class="getcode" href="javascript:void(0);">免费获取验证码</a><em></em>
					</dd>
					<dt>&nbsp;</dt>
					<dd>
						<label>
							<input class="verify_protocol" type="checkbox" verify="false" />
							我同意并遵守<a href="javascript:void(0);">《V群发注册协议》</a>
						</label>
					</dd>
				</dl>
				<div class="clear"></div>
				<div class="submit"><input type="submit" value="注册" /></div>
			</form>
			<div class="go_login">已有V群发帐号？<a href="javascript:void(0);">立即登录</a></div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="foot">
		<a href="javascript:void(0);">关于我们</a>
		<a href="javascript:void(0);">服务协议</a>
		<a href="javascript:void(0);">运营规范</a>
		<a href="javascript:void(0);">客服中心</a>
		<a href="javascript:void(0);">联系邮箱</a>
		<a href="javascript:void(0);">侵权投诉</a>
		<span>Copyright © 2012-2015 Vqunfa. All Rights Reserved.</span>
	</div>
</body>
</html>
<script type="text/javascript">
	$(function(){
		//验证用户名
		$('.verify_name').blur(function(){
			if($(this).val()){
				if(verify($(this).val(),'number')){
					insertNotice($(this),'<img src="../images/done_ico.png" />');
					$(this).attr("verify","true");
					return true;
				}else{
					insertNotice($(this),"<br />请输入纯数字的QQ号码");
					$(this).attr("verify","false");
					return false;
				}
			}else{
				insertNotice($(this),"<br />请输入用户名");
				$(this).attr("verify","false");
				return false;
			}
		});
		//验证密码
		$('.verify_pass1').blur(function(){
			$(".verify_pass2").blur();
			if($(this).val()){
				if($(this).val().length > 5){
					insertNotice($(this),'<img src="../images/done_ico.png" />');
					$(this).attr("verify","true");
					return true;
				}else{
					insertNotice($(this),"<br />请输入合适的密码长度");
					$(this).attr("verify","false");
					return false;
				}
			}else{
				insertNotice($(this),"<br />请输入密码");
				$(this).attr("verify","false");
				return false;
			}
		});
		$('.verify_pass2').blur(function(){
			if($(this).val()){
				if($(this).val().length > 5){
					if($('.verify_pass1').val() == $('.verify_pass2').val()){
						insertNotice($(this),'<img src="../images/done_ico.png" />');
						$(this).attr("verify","true");
						return true;
					}else{
						insertNotice($(this),'<br />两次输入密码不一致');
						$(this).attr("verify","false");
						return false;
					}
				}else{
					insertNotice($(this),"<br />请输入合适的密码长度");
					$(this).attr("verify","false");
					return false;
				}
			}else{
				insertNotice($(this),"<br />请输入密码");
				$(this).attr("verify","false");
				return false;
			}
		});
		//验证手机号
		$('.verify_mobile').blur(function(){
			if($(this).val()){
				if($(this).val().length == 11 && $(this).val()%1 == 0){
					insertNotice($(this),'<img src="../images/done_ico.png" />');
					$(this).attr("verify","true");
					return true;
				}else{
					insertNotice($(this),"<br />请输入正确的手机号码");
					$(this).attr("verify","false");
					return false;
				}
			}else{
				insertNotice($(this),"<br />请输入手机号");
				$(this).attr("verify","false");
				return false;
			}
		});
		//验证验证码
		$('.verify_vcode').blur(function(){
			if($(this).val()){
				if($(this).val().toUpperCase( ) == 'XXXX'){
					insertNotice($(this),'<img src="../images/done_ico.png" />');
					$(this).attr("verify","true");
					return true;
				}else{
					insertNotice($(this),"<br />验证码有误");
					$(this).attr("verify","false");
					return false;
				}
			}else{
				insertNotice($(this),"<br />请输入验证码");
				$(this).attr("verify","false");
				return false;
			}
		});
		//验证是否同意协议
		$('.verify_protocol').change(function(){
			if($(this).prop("checked") == true){
				$(this).attr("verify","true");
				return true;
			}else{
				$(this).attr("verify","false");
				return false;
			}
		});
	});

	//提交表单前端验证
	function verify_submit(){
		var verify = 0;
		$('input[type="text"],input[type="password"],input[type="checkbox"]').each(function(){
			$(this).blur();
			if($(this).attr("verify") == "false"){
				verify += 1;
			}
		});
		if(verify > 0){
			return false;
		}else{
			return true;
		}
	}
</script>