<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link rel="stylesheet" type="text/css" href="../css/basic.css" />
<link rel="stylesheet" type="text/css" href="../css/layout.css" />
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/layout.js"></script>
<title>公众号授权</title>
</head>
<body>
	<div class="head">
		<div class="w1200">
			<h1 class="logo">
				<img src="../images/logo.png" title="V群发" alt="V群发" />
				<span>群发素材、定时群发、同步群发</span>
			</h1>
		</div>
	</div>
	<div class="register">
		<div class="title">
			<span>基本信息</span>
			<span class="active_step2">公众号授权</span>
		</div>
		<div class="main">
			<div class="accredit">
				<h3>授权的条件</h3>
				<div class="help">
					<p>1. 拥有一个微信公众号<a href="javascript:void(0);">如何申请？</a></p>
					<p>2. 公众号已开启安全助手<a href="javascript:void(0);">如何开启？</a></p>
				</div>
				<a class="accredit_btn" href="javascript:void(0);">微信公众号授权</a>
				<p>没有微信公众号，先<a href="javascript:void(0);">跳过</a></p>
			</div>
		</div>
	</div>
	<div class="foot">
		<a href="javascript:void(0);">关于我们</a>
		<a href="javascript:void(0);">服务协议</a>
		<a href="javascript:void(0);">运营规范</a>
		<a href="javascript:void(0);">客服中心</a>
		<a href="javascript:void(0);">联系邮箱</a>
		<a href="javascript:void(0);">侵权投诉</a>
		<span>Copyright © 2012-2015 Vqunfa. All Rights Reserved.</span>
	</div>
</body>
</html>