<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link rel="stylesheet" type="text/css" href="../css/basic.css" />
<link rel="stylesheet" type="text/css" href="../css/layout.css" />
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/layout.js"></script>
<title>我的素材</title>
</head>
<body>
	<div class="head">
		<div class="w1200">
			<h1 class="logo">
				<img src="../images/logo.png" title="V群发" alt="V群发" />
				<span>群发素材、定时群发、同步群发</span>
			</h1>
			<div class="user">
				<a href="javascript:void(0);">登录</a>
				|
				<a href="javascript:void(0);">注册</a>
			</div>
		</div>
	</div>
	<div class="body">
		<div class="account">
			<span class="prev">&lt;</span>
			<dl>
				<dd>
					<img src="../images/avatar1.jpg" />
					<p><em class="type_serve"></em><em class="prove_true"></em></p>
					<span>中央花园官方微信</span>
				</dd>
				<dd>
					<img src="../images/avatar2.jpg" />
					<p><em class="type_blogs"></em><em class="prove_false"></em></p>
					<span>华韩美容-做最好的自己</span>
				</dd>
				<dd>
					<img src="../images/avatar3.jpg" />
					<p><em class="type_serve"></em><em class="prove_true"></em></p>
					<span>华润 · 幸福里</span>
				</dd>
				<dd>
					<img src="../images/avatar4.jpg" />
					<p><em class="type_blogs"></em><em class="prove_false"></em></p>
					<span>新农哥 - 坚果</span>
				</dd>
				<dd>
					<img src="../images/avatar5.jpg" />
					<p><em class="type_serve"></em><em class="prove_true"></em></p>
					<span>有戏 - 互动推</span>
				</dd>
				<dt>
					<img onclick="showAccredit();" src="../images/add.png" />
				</dt>
			</dl>
			<span class="next">&gt;</span>
		</div>
		<div class="side">
			<dl>
				<dt><em class="i_square"></em>广场</dt>
				<dd><a href="javascript:void(0);">素材中心</a></dd>
			</dl>
			<dl>
				<dt><em class="i_function"></em>功能</dt>
				<dd><a href="javascript:void(0);">高级群发</a></dd>
			</dl>
			<dl>
				<dt><em class="i_control"></em>管理</dt>
				<dd><a class="active" href="javascript:void(0);">我的素材</a></dd>
			</dl>
			<div class="code">
				<img src="../images/code.jpg" />
				<span>扫二维码，新鲜素材天天送达</span>
			</div>
		</div>
		<div class="main">
			<h2 class="title">我的素材</h2>
			<div class="tab_title">
				<a class="active" href="javascript:void(0);">我的</a>
				<a class="newmsg" href="javascript:void(0);">新建单条图文</a>
			</div>
			<div class="material">
				<ul>
					<li>
						<h3><a href="javascript:void(0);">关注“演示”，领取现金红包</a></h3>
						<div class="source">
							05月28日&nbsp;&nbsp;&nbsp;&nbsp;风一样的少年
						</div>
						<div class="msgbox">
							<div class="img"><img src="../images/img2.jpg" /></div>
							<p>关注“演示”公众号，回复关键词【红包】，即可领取现金红包，直接打入微信账户的哦！多谢几个字，让该内容有三行，以验证瀑布流的效果~</p>
						</div>
						<table class="btns">
							<tr>
								<td><a href="javascript:void(0);"><i class="edit"></i></a></td>
								<td><a class="red" href="javascript:void(0);">添加（123）</a></td>
								<td><a href="javascript:void(0);"><i class="delete"></i></a></td>
							</tr>
						</table>
					</li>
					<li>
						<h3><a href="javascript:void(0);">关注“演示”，领取现金红包</a></h3>
						<div class="source">
							05月28日&nbsp;&nbsp;&nbsp;&nbsp;风一样的少年
						</div>
						<div class="msgbox">
							<div class="img"><img src="../images/img3.jpg" /></div>
							<p>关注“演示”公众号，回复关键词【红包】</p>
						</div>
						<table class="btns">
							<tr>
								<td><a href="javascript:void(0);"><i class="edit"></i></a></td>
								<td><a class="red" href="javascript:void(0);">添加（123）</a></td>
								<td><a href="javascript:void(0);"><i class="delete"></i></a></td>
							</tr>
						</table>
					</li>
					<li>
						<h3><a href="javascript:void(0);">关注“演示”，领取现金红包</a></h3>
						<div class="source">
							05月28日&nbsp;&nbsp;&nbsp;&nbsp;风一样的少年
						</div>
						<div class="msgbox">
							<div class="img"><img src="../images/img1.jpg" /></div>
							<p>关注“演示”公众号，回复关键词【红包】，即可领取现金红包，直接打入微信账户的哦~</p>
						</div>
						<table class="btns">
							<tr>
								<td><a href="javascript:void(0);"><i class="edit"></i></a></td>
								<td><a class="red" href="javascript:void(0);">添加（123）</a></td>
								<td><a href="javascript:void(0);"><i class="delete"></i></a></td>
							</tr>
						</table>
					</li>
				</ul>
				<div class="clear"></div>
			</div>
			<div class="pages">
				<a href="javascript:void(0);" class="prev"><i></i></a>
				<span>2/4</span>
				<a href="javascript:void(0);" class="next"><i></i></a>
				<input type="text" />
				<a href="javascript:void(0);">跳转</a>
			</div>
			<div class="space_20"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="foot">
		<a href="javascript:void(0);">关于我们</a>
		<a href="javascript:void(0);">服务协议</a>
		<a href="javascript:void(0);">运营规范</a>
		<a href="javascript:void(0);">客服中心</a>
		<a href="javascript:void(0);">联系邮箱</a>
		<a href="javascript:void(0);">侵权投诉</a>
		<span>Copyright © 2012-2015 Vqunfa. All Rights Reserved.</span>
	</div>
</body>
</html>
<script type="text/javascript" src="../js/masonry.min.js"></script>
<script type="text/javascript">
	//瀑布流展示
	var $container = $('.material ul');
	$container.imagesLoaded(function(){
		$container.masonry({
				itemSelector: '.material ul li'
			});
	});
	//弹出授权提示
	function showAccredit(){
		$('body').append('<div class="accredit_hint">\
							<em class="close" onclick="hideAccredit();">╳</em>\
							<dl>\
								<dt><h3>授权的条件</h3></dt>\
								<dd>\
									<p>1. 拥有一个微信公众号<a href="javascript:void(0);">如何申请？</a></p>\
									<p>2. 公众号已开启安全助手<a href="javascript:void(0);">如何开启？</a></p>\
								</dd>\
								<dt>\
									<div class="space_20"></div>\
									<a class="accredit_btn" href="javascript:void(0);">去授权</a>\
									<a onclick="hideAccredit();" href="javascript:void(0);">取消</a>\
								</dt>\
							</dl>\
						</div>');
	}
	//隐藏授权提示
	function hideAccredit(){
		$('.accredit_hint').remove();
	}
</script>