ul{
	list-style-type: none;
}
.nav1{
	display: inline-block;
	position: relative;top: 0;left: 0;
	width: 180px;height: 30px;
	border: none;
	background: #aaa;
	text-align: center;
}
.nav1 .a1{
	color: #000;
	font: bold 25px/30px "微软雅黑";
	text-decoration: none;
}
._nav2{
	display: none;
	position: absolute;left: 0;top: 33px;z-index: 1;
	padding: 0;
	
}
.nav1:hover{
	background: #fa0;
}
.nav1:hover .a1{
	color: #fff;
}
.nav1:hover ._nav2{
	display: block;
	
}
.nav2{
	width: 180px;height: 30px;
	border: none;
	background: #aaa;
	text-align: center;
}
.nav2 .a2{
	color: #000;
	font: 25px/30px "微软雅黑";
	text-decoration: none;	
}
.nav2:hover{
	background: #fa0;
}
.nav2:hover .a2{
	color: #ff0;
}
._nav3{
	display: none;
	position: absolute;left: 180px;top: 0;z-index: 1;
	padding: 0;
}
.nav2:hover ._nav3{
	display: block;
}
.nav3{
	width: 180px;height: 30px;
	border: none;
	background: #aac;
	text-align: center;
}
.nav3 .a3{
	color: #000;
	font: 25px/30px "微软雅黑";
	text-decoration: none;	
}
.nav3:hover .a3{
	color: #f00;
}
.nav3:hover{
	background: #fa0;
}


.left{
	float: left;
}
.center{
	/*float: left;*/
	width: 49%;
	background:#fa0;
}
.right{
	float: right;
}

.clear{
	clear: both;
}
.locks{

}
.lock{
	float:left;
	width:300px;height:300px;
	margin:10px;
	background:#fa0;color:#fff;
}