body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, input, button, textarea, p, span, a, blockquote, th, td { margin: 0; padding: 0; }
body { background: #fff; color: #000; font-size: 14px; font-family: Arial, sans-serif, "宋体", "微软雅黑"; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var, i, b { font-style: normal; font-weight: normal; }
input, textarea, select, button, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
ul, ol, li, dl { list-style: none;}
table { border-collapse: collapse;}
a { color: #000; text-decoration: none; }
a:hover { text-decoration: none; cursor: pointer; }
img { border: none; }


.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { *zoom:1;}

.pos1 {
	background: #000;
	margin: 100px auto;
	height: 500px;width: 500px;
	color: #fff;
	position: relative;
	box-shadow: 0px 0px 30px #fa0;

}
.pos2{
	width: 100px;height: 100px;
	background: #fa0;
	position: absolute;top: 50px;left: 150px;
	opacity: 0.5;
	box-shadow: 0 1px 4px #f00,0 0 20px #fff inset;
	border-radius: 50px/10px;
}