body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1453px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:1704px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:1704px;
}
#u1 {
  position:absolute;
  left:2px;
  top:844px;
  width:1363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:633px;
  top:121px;
  width:86px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:134px;
  top:600px;
  width:355px;
  height:146px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:146px;
}
#u5 {
  position:absolute;
  left:2px;
  top:65px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:151px;
  top:356px;
  width:53px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:1px;
  top:271px;
  width:1366px;
  height:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:212px;
  top:288px;
  width:27px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:627px;
  top:175px;
  width:110px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1178px;
  top:1271px;
  width:73px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:340px;
  top:288px;
  width:53px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:492px;
  top:2269px;
  width:961px;
  height:628px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:628px;
}
#u19 {
  position:absolute;
  left:2px;
  top:306px;
  width:957px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1286px;
  top:2337px;
  width:153px;
  height:30px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:546px;
  top:2279px;
  width:43px;
  height:35px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:35px;
}
#u23 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:504px;
  top:2279px;
  width:84px;
  height:35px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
}
#u25 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:516px;
  top:2286px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:150px;
  top:618px;
  width:323px;
  height:107px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:107px;
}
#u29 {
  position:absolute;
  left:2px;
  top:46px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:323px;
  top:421px;
  width:149px;
  height:50px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:50px;
}
#u31 {
  position:absolute;
  left:2px;
  top:17px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:527px;
  top:421px;
  width:143px;
  height:49px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:49px;
}
#u33 {
  position:absolute;
  left:2px;
  top:16px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:124px;
  top:429px;
  width:29px;
  height:33px;
  font-size:28px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:33px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:1210px;
  top:429px;
  width:29px;
  height:33px;
  font-size:28px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:33px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:301px;
  top:437px;
  width:100px;
  height:16px;
}
#u39 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u40 {
  position:absolute;
  left:507px;
  top:437px;
  width:100px;
  height:16px;
}
#u41 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u42 {
  position:absolute;
  left:143px;
  top:517px;
  width:66px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:230px;
  top:514px;
  width:241px;
  height:25px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u44_input:disabled {
  color:grayText;
}
#u45 {
  position:absolute;
  left:478px;
  top:1104px;
  width:110px;
  height:40px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:718px;
  top:1104px;
  width:110px;
  height:40px;
  color:#FFFFFF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u48 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:200px;
  top:437px;
  width:100px;
  height:16px;
}
#u50 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u49_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u51 {
  position:absolute;
  left:640px;
  top:288px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#5AB616;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:780px;
  top:288px;
  width:53px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:480px;
  top:289px;
  width:66px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:62px;
  top:1761px;
  width:380px;
  height:180px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:180px;
}
#u58 {
  position:absolute;
  left:2px;
  top:26px;
  width:376px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:62px;
  top:1971px;
  width:380px;
  height:100px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:100px;
}
#u60 {
  position:absolute;
  left:2px;
  top:26px;
  width:376px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:492px;
  top:1760px;
  width:355px;
  height:230px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:230px;
}
#u62 {
  position:absolute;
  left:2px;
  top:107px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:572px;
  top:1830px;
  width:209px;
  height:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:610px;
  top:1861px;
  width:144px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:564px;
  top:1917px;
  width:110px;
  height:40px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u68 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:690px;
  top:1917px;
  width:110px;
  height:40px;
  color:#FFFFFF;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u70 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:492px;
  top:2015px;
  width:355px;
  height:230px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:230px;
}
#u72 {
  position:absolute;
  left:2px;
  top:107px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:526px;
  top:2085px;
  width:292px;
  height:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:634px;
  top:2123px;
  width:92px;
  height:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:564px;
  top:2172px;
  width:110px;
  height:40px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u78 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:690px;
  top:2172px;
  width:110px;
  height:40px;
  color:#FFFFFF;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u80 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:598px;
  top:1104px;
  width:110px;
  height:40px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u82 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:1030px;
  top:517px;
  width:166px;
  height:19px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:19px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:62px;
  top:2111px;
  width:379px;
  height:120px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:120px;
}
#u86 {
  position:absolute;
  left:2px;
  top:36px;
  width:375px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:222px;
  top:389px;
  width:30px;
  height:30px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u88 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:0px;
  top:1223px;
  width:1366px;
  height:481px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:481px;
}
#u90 {
  position:absolute;
  left:2px;
  top:232px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:628px;
  top:1248px;
  width:86px;
  height:37px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:37px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:628px;
  top:1296px;
  width:182px;
  height:16px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:600px;
  top:1323px;
  width:151px;
  height:151px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:151px;
}
#u96 {
  position:absolute;
  left:2px;
  top:68px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:864px;
  top:1268px;
  width:182px;
  height:19px;
  font-size:16px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:19px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:174px;
  top:1579px;
  width:1008px;
  height:32px;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:32px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:1046px;
  top:1268px;
  width:182px;
  height:19px;
  font-size:16px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:19px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:236px;
  top:1268px;
  width:182px;
  height:19px;
  font-size:16px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:19px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:418px;
  top:1268px;
  width:182px;
  height:19px;
  font-size:16px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:19px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:150px;
  top:1545px;
  width:1056px;
  height:10px;
}
#u107_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u107_end {
  position:absolute;
  left:1039px;
  top:-5px;
  width:18px;
  height:20px;
}
#u107_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1056px;
  height:1px;
}
#u108 {
  position:absolute;
  left:254px;
  top:1314px;
  width:27px;
  height:16px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:240px;
  top:1357px;
  width:53px;
  height:16px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:236px;
  top:1394px;
  width:66px;
  height:16px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:242px;
  top:1433px;
  width:53px;
  height:16px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:242px;
  top:1472px;
  width:53px;
  height:16px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:424px;
  top:1314px;
  width:53px;
  height:16px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:422px;
  top:1357px;
  width:53px;
  height:16px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:422px;
  top:1394px;
  width:53px;
  height:16px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:870px;
  top:1314px;
  width:53px;
  height:16px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:870px;
  top:1354px;
  width:53px;
  height:16px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:870px;
  top:1394px;
  width:53px;
  height:16px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:422px;
  top:1432px;
  width:53px;
  height:16px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:1058px;
  top:1314px;
  width:40px;
  height:16px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:584px;
  top:1484px;
  width:182px;
  height:32px;
  text-align:center;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:32px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:340px;
  top:1657px;
  width:672px;
  height:16px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:16px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:62px;
  top:1761px;
  width:30px;
  height:30px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u139 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:355px;
  top:1836px;
  width:30px;
  height:30px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u141 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:492px;
  top:1761px;
  width:30px;
  height:30px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u143 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:209px;
  top:510px;
  width:30px;
  height:30px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u145 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:62px;
  top:1971px;
  width:30px;
  height:30px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u147 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:411px;
  top:2015px;
  width:30px;
  height:30px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u149 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:492px;
  top:2015px;
  width:30px;
  height:30px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u151 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:1091px;
  top:485px;
  width:30px;
  height:30px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u153 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:62px;
  top:2111px;
  width:30px;
  height:30px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u155 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:190px;
  top:621px;
  width:30px;
  height:30px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u157 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:63px;
  top:2269px;
  width:379px;
  height:252px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:252px;
}
#u159 {
  position:absolute;
  left:2px;
  top:46px;
  width:375px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:63px;
  top:2269px;
  width:30px;
  height:30px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u161 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:340px;
  top:2312px;
  width:30px;
  height:30px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u163 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:492px;
  top:2269px;
  width:30px;
  height:30px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u165 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:972px;
  top:2843px;
  width:120px;
  height:45px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
}
#u167 {
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:858px;
  top:2844px;
  width:114px;
  height:42px;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:42px;
}
#u169 {
  position:absolute;
  left:2px;
  top:13px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:1093px;
  top:288px;
  width:282px;
  height:16px;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:16px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:1206px;
  top:242px;
  width:25px;
  height:83px;
  font-size:72px;
  color:#FF0000;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:83px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
