.demo #demo_dom a {
    display: block;
    width: 26px;height: 26px;
    margin-top: 7px;
    line-height: 19px;
    text-decoration: none;
    border-radius: 50px;
    background: #fff;
    color: #fff;
    border: 4px solid #fff;
}
.demo #demo_dom a:hover {
    color: #fff;
    border-color: #22C3AA; 
    background: #22C3AA;
}
.demo #demo_dom li {
    list-style: none;
    float: left;
    width: 40px;height: 40px;
    background: #ACEF6A;
    text-align: center;
    padding-left: 6px;
}
.demo #demo_dom li:first-child {
    margin-right: 4px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.demo #demo_dom li:first-child a {
    color: #aaa;
}
.demo #demo_dom li:last-child {
    margin-left: 4px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.demo #demo_dom li:last-child a {
    color: #aaa;
}
.demo #demo_dom .dom_active a {
    color: #ACEF6A;
    border-color: #ACEF6A;
}