body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1373px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:390px;
  top:2248px;
  width:586px;
  height:557px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:557px;
}
#u1 {
  position:absolute;
  left:2px;
  top:270px;
  width:582px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:2031px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:2031px;
}
#u3 {
  position:absolute;
  left:2px;
  top:1008px;
  width:1363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:633px;
  top:121px;
  width:86px;
  height:37px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:37px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:132px;
  top:405px;
  width:355px;
  height:517px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:517px;
}
#u7 {
  position:absolute;
  left:2px;
  top:250px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:151px;
  top:356px;
  width:27px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:1px;
  top:271px;
  width:1366px;
  height:50px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1131px;
  top:349px;
  width:100px;
  height:30px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:212px;
  top:288px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#5AB616;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:1091px;
  top:288px;
  width:282px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:632px;
  top:175px;
  width:182px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:144px;
  top:524px;
  width:334px;
  height:315px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:315px;
}
#u21 {
  position:absolute;
  left:2px;
  top:150px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:359px;
  top:857px;
  width:110px;
  height:40px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:151px;
  top:867px;
  width:101px;
  height:19px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:19px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:214px;
  top:426px;
  width:194px;
  height:84px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:84px;
}
#u27 {
  position:absolute;
  left:2px;
  top:34px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:505px;
  top:405px;
  width:355px;
  height:517px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:517px;
}
#u29 {
  position:absolute;
  left:2px;
  top:250px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:517px;
  top:524px;
  width:334px;
  height:315px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:315px;
}
#u31 {
  position:absolute;
  left:2px;
  top:150px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:589px;
  top:426px;
  width:194px;
  height:84px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:84px;
}
#u33 {
  position:absolute;
  left:2px;
  top:34px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:877px;
  top:405px;
  width:355px;
  height:517px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:517px;
}
#u35 {
  position:absolute;
  left:2px;
  top:250px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:888px;
  top:525px;
  width:334px;
  height:315px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:315px;
}
#u37 {
  position:absolute;
  left:2px;
  top:150px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:961px;
  top:426px;
  width:194px;
  height:84px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:84px;
}
#u39 {
  position:absolute;
  left:2px;
  top:34px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:435px;
  top:2397px;
  width:50px;
  height:25px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u41 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:434px;
  top:2361px;
  width:90px;
  height:25px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u43 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:495px;
  top:2397px;
  width:50px;
  height:25px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u45 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:555px;
  top:2397px;
  width:50px;
  height:25px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u47 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:435px;
  top:2449px;
  width:501px;
  height:48px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:48px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:435px;
  top:2325px;
  width:109px;
  height:25px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
}
#u51 {
  position:absolute;
  left:2px;
  top:4px;
  width:105px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:535px;
  top:2361px;
  width:80px;
  height:25px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u53 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:555px;
  top:2324px;
  width:90px;
  height:25px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u55 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:625px;
  top:2361px;
  width:80px;
  height:25px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u57 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:615px;
  top:2397px;
  width:99px;
  height:25px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
}
#u59 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:731px;
  top:857px;
  width:110px;
  height:40px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u61 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:523px;
  top:867px;
  width:65px;
  height:19px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:1103px;
  top:857px;
  width:110px;
  height:40px;
  color:#FFFFFF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u65 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:895px;
  top:867px;
  width:101px;
  height:19px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:19px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:132px;
  top:960px;
  width:355px;
  height:517px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:517px;
}
#u69 {
  position:absolute;
  left:2px;
  top:250px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:144px;
  top:1079px;
  width:334px;
  height:315px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:315px;
}
#u71 {
  position:absolute;
  left:2px;
  top:150px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:359px;
  top:1412px;
  width:110px;
  height:40px;
  color:#FFFFFF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u73 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:151px;
  top:1422px;
  width:101px;
  height:19px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:19px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:216px;
  top:981px;
  width:194px;
  height:84px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:84px;
}
#u77 {
  position:absolute;
  left:2px;
  top:34px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:505px;
  top:960px;
  width:355px;
  height:517px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:517px;
}
#u79 {
  position:absolute;
  left:2px;
  top:250px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:517px;
  top:1079px;
  width:334px;
  height:315px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:315px;
}
#u81 {
  position:absolute;
  left:2px;
  top:150px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:589px;
  top:981px;
  width:194px;
  height:84px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:84px;
}
#u83 {
  position:absolute;
  left:2px;
  top:34px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:877px;
  top:960px;
  width:355px;
  height:517px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:517px;
}
#u85 {
  position:absolute;
  left:2px;
  top:250px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:888px;
  top:1080px;
  width:334px;
  height:315px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:315px;
}
#u87 {
  position:absolute;
  left:2px;
  top:150px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:961px;
  top:981px;
  width:194px;
  height:84px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:84px;
}
#u89 {
  position:absolute;
  left:2px;
  top:34px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:731px;
  top:1412px;
  width:110px;
  height:40px;
  color:#FFFFFF;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u91 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:523px;
  top:1422px;
  width:101px;
  height:19px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:19px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:1103px;
  top:1412px;
  width:110px;
  height:40px;
  color:#FFFFFF;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u95 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:895px;
  top:1422px;
  width:101px;
  height:19px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:19px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:437px;
  top:2291px;
  width:66px;
  height:16px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:578px;
  top:2652px;
  width:196px;
  height:16px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:642px;
  top:2572px;
  width:66px;
  height:60px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:60px;
}
#u103 {
  position:absolute;
  left:2px;
  top:22px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:545px;
  top:2719px;
  width:110px;
  height:40px;
  color:#1E1E1E;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u105 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:706px;
  top:2719px;
  width:110px;
  height:40px;
  color:#FFFFFF;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u107 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:390px;
  top:2842px;
  width:586px;
  height:557px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:557px;
}
#u109 {
  position:absolute;
  left:2px;
  top:270px;
  width:582px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:435px;
  top:2991px;
  width:50px;
  height:25px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u111 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:434px;
  top:2955px;
  width:90px;
  height:25px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u113 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:495px;
  top:2991px;
  width:50px;
  height:25px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u115 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:555px;
  top:2991px;
  width:50px;
  height:25px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u117 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:435px;
  top:3043px;
  width:501px;
  height:48px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:48px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:435px;
  top:2919px;
  width:109px;
  height:25px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
}
#u121 {
  position:absolute;
  left:2px;
  top:4px;
  width:105px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:535px;
  top:2955px;
  width:80px;
  height:25px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u123 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:555px;
  top:2918px;
  width:90px;
  height:25px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u125 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:625px;
  top:2955px;
  width:80px;
  height:25px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u127 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:615px;
  top:2991px;
  width:99px;
  height:25px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
}
#u129 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:437px;
  top:2885px;
  width:66px;
  height:16px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:545px;
  top:3313px;
  width:110px;
  height:40px;
  color:#1E1E1E;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u133 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:428px;
  top:3140px;
  width:149px;
  height:50px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:50px;
}
#u135 {
  position:absolute;
  left:2px;
  top:17px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:614px;
  top:3246px;
  width:144px;
  height:16px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:706px;
  top:3313px;
  width:110px;
  height:40px;
  color:#FFFFFF;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u139 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:389px;
  top:3434px;
  width:586px;
  height:557px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:557px;
}
#u141 {
  position:absolute;
  left:2px;
  top:270px;
  width:582px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:435px;
  top:3583px;
  width:50px;
  height:25px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u143 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:433px;
  top:3547px;
  width:90px;
  height:25px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u145 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:495px;
  top:3583px;
  width:50px;
  height:25px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u147 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:555px;
  top:3583px;
  width:50px;
  height:25px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u149 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:435px;
  top:3635px;
  width:501px;
  height:48px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:48px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:435px;
  top:3511px;
  width:109px;
  height:25px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
}
#u153 {
  position:absolute;
  left:2px;
  top:4px;
  width:105px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:535px;
  top:3547px;
  width:80px;
  height:25px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u155 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:555px;
  top:3510px;
  width:90px;
  height:25px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u157 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:625px;
  top:3547px;
  width:80px;
  height:25px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u159 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:615px;
  top:3583px;
  width:99px;
  height:25px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
}
#u161 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:437px;
  top:3477px;
  width:66px;
  height:16px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u164 {
  position:absolute;
  left:545px;
  top:3905px;
  width:110px;
  height:40px;
  color:#1E1E1E;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u165 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:609px;
  top:3838px;
  width:144px;
  height:16px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u168 {
  position:absolute;
  left:705px;
  top:3905px;
  width:110px;
  height:40px;
  color:#FFFFFF;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u169 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:645px;
  top:3743px;
  width:59px;
  height:59px;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:59px;
}
#u171 {
  position:absolute;
  left:2px;
  top:22px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:35px;
  top:2251px;
  width:315px;
  height:70px;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:70px;
}
#u173 {
  position:absolute;
  left:2px;
  top:27px;
  width:311px;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:35px;
  top:2361px;
  width:315px;
  height:240px;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:240px;
}
#u175 {
  position:absolute;
  left:2px;
  top:56px;
  width:311px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:1018px;
  top:2411px;
  width:350px;
  height:100px;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:100px;
}
#u177 {
  position:absolute;
  left:2px;
  top:34px;
  width:346px;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:433px;
  top:3200px;
  width:145px;
  height:30px;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u179 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:505px;
  top:405px;
  width:65px;
  height:30px;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u181 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:1px;
  top:1720px;
  width:1366px;
  height:481px;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:481px;
}
#u183 {
  position:absolute;
  left:2px;
  top:232px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:632px;
  top:1745px;
  width:86px;
  height:37px;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:37px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u186 {
  position:absolute;
  left:631px;
  top:1793px;
  width:182px;
  height:16px;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:16px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:604px;
  top:1820px;
  width:151px;
  height:151px;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:151px;
}
#u189 {
  position:absolute;
  left:2px;
  top:68px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:868px;
  top:1765px;
  width:182px;
  height:19px;
  font-size:16px;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:19px;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:178px;
  top:2076px;
  width:1008px;
  height:32px;
  text-align:center;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:32px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:1050px;
  top:1765px;
  width:182px;
  height:19px;
  font-size:16px;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:19px;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:240px;
  top:1765px;
  width:182px;
  height:19px;
  font-size:16px;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:19px;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:422px;
  top:1765px;
  width:182px;
  height:19px;
  font-size:16px;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:19px;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:153px;
  top:2042px;
  width:1056px;
  height:10px;
}
#u200_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u200_end {
  position:absolute;
  left:1039px;
  top:-5px;
  width:18px;
  height:20px;
}
#u200_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1056px;
  height:1px;
}
#u201 {
  position:absolute;
  left:257px;
  top:1811px;
  width:27px;
  height:16px;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u202 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u203 {
  position:absolute;
  left:244px;
  top:1854px;
  width:53px;
  height:16px;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u205 {
  position:absolute;
  left:240px;
  top:1891px;
  width:66px;
  height:16px;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u207 {
  position:absolute;
  left:245px;
  top:1930px;
  width:53px;
  height:16px;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u208 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u209 {
  position:absolute;
  left:245px;
  top:1969px;
  width:53px;
  height:16px;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u211 {
  position:absolute;
  left:427px;
  top:1811px;
  width:53px;
  height:16px;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u213 {
  position:absolute;
  left:426px;
  top:1854px;
  width:53px;
  height:16px;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u215 {
  position:absolute;
  left:426px;
  top:1891px;
  width:53px;
  height:16px;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u217 {
  position:absolute;
  left:874px;
  top:1811px;
  width:53px;
  height:16px;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u218 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u219 {
  position:absolute;
  left:874px;
  top:1851px;
  width:53px;
  height:16px;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u221 {
  position:absolute;
  left:874px;
  top:1891px;
  width:53px;
  height:16px;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u223 {
  position:absolute;
  left:426px;
  top:1929px;
  width:53px;
  height:16px;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u225 {
  position:absolute;
  left:1061px;
  top:1811px;
  width:40px;
  height:16px;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u227 {
  position:absolute;
  left:587px;
  top:1981px;
  width:182px;
  height:32px;
  text-align:center;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:32px;
}
#u228 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u229 {
  position:absolute;
  left:328px;
  top:2154px;
  width:810px;
  height:16px;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:16px;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  word-wrap:break-word;
}
#u231 {
  position:absolute;
  left:167px;
  top:279px;
  width:35px;
  height:35px;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u232 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:35px;
  top:2251px;
  width:35px;
  height:35px;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u234 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u235 {
  position:absolute;
  left:90px;
  top:356px;
  width:35px;
  height:35px;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u236 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:35px;
  top:2361px;
  width:35px;
  height:35px;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u238 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u239 {
  position:absolute;
  left:151px;
  top:81px;
  width:163px;
  height:19px;
  font-size:16px;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:19px;
}
#u240 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u241 {
  position:absolute;
  left:505px;
  top:366px;
  width:35px;
  height:35px;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u242 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u243 {
  position:absolute;
  left:35px;
  top:2640px;
  width:315px;
  height:130px;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:130px;
}
#u244 {
  position:absolute;
  left:2px;
  top:49px;
  width:311px;
  word-wrap:break-word;
}
#u245 {
  position:absolute;
  left:35px;
  top:2640px;
  width:35px;
  height:35px;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u246 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u247 {
  position:absolute;
  left:1245px;
  top:344px;
  width:35px;
  height:35px;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u248 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u249 {
  position:absolute;
  left:35px;
  top:2810px;
  width:315px;
  height:130px;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:130px;
}
#u250 {
  position:absolute;
  left:2px;
  top:49px;
  width:311px;
  word-wrap:break-word;
}
#u251 {
  position:absolute;
  left:35px;
  top:2810px;
  width:35px;
  height:35px;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u252 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u253 {
  position:absolute;
  left:324px;
  top:859px;
  width:35px;
  height:35px;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u254 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u255 {
  position:absolute;
  left:35px;
  top:2981px;
  width:315px;
  height:170px;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:170px;
}
#u256 {
  position:absolute;
  left:2px;
  top:37px;
  width:311px;
  word-wrap:break-word;
}
#u257 {
  position:absolute;
  left:35px;
  top:2981px;
  width:35px;
  height:35px;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u258 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u259 {
  position:absolute;
  left:778px;
  top:1511px;
  width:35px;
  height:35px;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u260 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u261 {
  position:absolute;
  left:670px;
  top:1521px;
  width:92px;
  height:16px;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u262 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u263 {
  position:absolute;
  left:683px;
  top:1570px;
  width:66px;
  height:16px;
  color:#999999;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u264 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u265 {
  position:absolute;
  left:35px;
  top:3190px;
  width:315px;
  height:90px;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:90px;
}
#u266 {
  position:absolute;
  left:2px;
  top:37px;
  width:311px;
  word-wrap:break-word;
}
#u267 {
  position:absolute;
  left:35px;
  top:3190px;
  width:35px;
  height:35px;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u268 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u269 {
  position:absolute;
  left:204px;
  top:3103px;
  width:35px;
  height:35px;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u270 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u271 {
  position:absolute;
  left:390px;
  top:2248px;
  width:35px;
  height:35px;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u272 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u273 {
  position:absolute;
  left:1018px;
  top:2281px;
  width:350px;
  height:110px;
}
#u273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:110px;
}
#u274 {
  position:absolute;
  left:2px;
  top:23px;
  width:346px;
  word-wrap:break-word;
}
#u275 {
  position:absolute;
  left:607px;
  top:3139px;
  width:149px;
  height:50px;
}
#u275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:50px;
}
#u276 {
  position:absolute;
  left:2px;
  top:17px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u277 {
  position:absolute;
  left:612px;
  top:3199px;
  width:145px;
  height:30px;
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u278 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u279 {
  position:absolute;
  left:785px;
  top:3139px;
  width:149px;
  height:50px;
}
#u279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:50px;
}
#u280 {
  position:absolute;
  left:2px;
  top:17px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u281 {
  position:absolute;
  left:790px;
  top:3199px;
  width:145px;
  height:30px;
}
#u281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u282 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u283 {
  position:absolute;
  left:435px;
  top:2248px;
  width:35px;
  height:35px;
}
#u283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u284 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u285 {
  position:absolute;
  left:1018px;
  top:2411px;
  width:35px;
  height:35px;
}
#u285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u286 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u287 {
  position:absolute;
  left:1018px;
  top:2281px;
  width:35px;
  height:35px;
}
#u287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u288 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u289 {
  position:absolute;
  left:809px;
  top:2361px;
  width:35px;
  height:35px;
}
#u289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u290 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u291 {
  position:absolute;
  left:945px;
  top:3197px;
  width:35px;
  height:35px;
}
#u291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u292 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u293 {
  position:absolute;
  left:1018px;
  top:2541px;
  width:350px;
  height:200px;
}
#u293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:200px;
}
#u294 {
  position:absolute;
  left:2px;
  top:36px;
  width:346px;
  word-wrap:break-word;
}
#u295 {
  position:absolute;
  left:1018px;
  top:2541px;
  width:35px;
  height:35px;
}
#u295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u296 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u297 {
  position:absolute;
  left:826px;
  top:3313px;
  width:35px;
  height:35px;
}
#u297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u298 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u299 {
  position:absolute;
  left:1018px;
  top:2778px;
  width:350px;
  height:150px;
}
#u299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:150px;
}
#u300 {
  position:absolute;
  left:2px;
  top:27px;
  width:346px;
  word-wrap:break-word;
}
#u301 {
  position:absolute;
  left:1018px;
  top:2778px;
  width:35px;
  height:35px;
}
#u301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u302 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u303 {
  position:absolute;
  left:825px;
  top:3907px;
  width:35px;
  height:35px;
}
#u303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u304 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u305 {
  position:absolute;
  left:1018px;
  top:2970px;
  width:350px;
  height:150px;
}
#u305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:150px;
}
#u306 {
  position:absolute;
  left:2px;
  top:43px;
  width:346px;
  word-wrap:break-word;
}
#u307 {
  position:absolute;
  left:1018px;
  top:2970px;
  width:35px;
  height:35px;
}
#u307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u308 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
