body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:770px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:770px;
}
#u1 {
  position:absolute;
  left:2px;
  top:377px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:604px;
  top:261px;
  width:200px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3 {
  position:absolute;
  left:604px;
  top:305px;
  width:200px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4 {
  position:absolute;
  left:637px;
  top:544px;
  width:100px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5 {
  position:absolute;
  left:535px;
  top:309px;
  width:53px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:604px;
  top:349px;
  width:200px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:535px;
  top:353px;
  width:53px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:549px;
  top:265px;
  width:40px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:520px;
  top:449px;
  width:66px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:604px;
  top:442px;
  width:98px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:712px;
  top:442px;
  width:92px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u16 {
  position:absolute;
  left:629px;
  top:585px;
  width:118px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:603px;
  top:488px;
  width:279px;
  height:16px;
}
#u19 {
  position:absolute;
  left:16px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u18_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20 {
  position:absolute;
  left:637px;
  top:110px;
  width:86px;
  height:37px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:37px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:712px;
  top:384px;
  width:171px;
  height:47px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:47px;
}
#u23 {
  position:absolute;
  left:2px;
  top:16px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:547px;
  top:403px;
  width:40px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:604px;
  top:396px;
  width:98px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27 {
  position:absolute;
  left:634px;
  top:164px;
  width:103px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
