body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-1px;
  width:1367px;
  height:2081px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:2081px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1032px;
  width:1363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:633px;
  top:121px;
  width:86px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:132px;
  top:551px;
  width:355px;
  height:516px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:516px;
}
#u5 {
  position:absolute;
  left:2px;
  top:250px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:151px;
  top:356px;
  width:53px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:1px;
  top:271px;
  width:1366px;
  height:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:212px;
  top:288px;
  width:27px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:630px;
  top:175px;
  width:182px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:144px;
  top:670px;
  width:334px;
  height:315px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:315px;
}
#u15 {
  position:absolute;
  left:2px;
  top:150px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:151px;
  top:1016px;
  width:40px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:216px;
  top:572px;
  width:194px;
  height:84px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:84px;
}
#u19 {
  position:absolute;
  left:2px;
  top:34px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:516px;
  top:551px;
  width:713px;
  height:1166px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:1166px;
}
#u21 {
  position:absolute;
  left:2px;
  top:575px;
  width:709px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:494px;
  top:787px;
  width:23px;
  height:67px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:67px;
}
#u23 {
  position:absolute;
  left:2px;
  top:26px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:152px;
  top:678px;
  width:212px;
  height:33px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:33px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:540px;
  top:584px;
  width:559px;
  height:568px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:568px;
}
#u27 {
  position:absolute;
  left:2px;
  top:276px;
  width:555px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:660px;
  top:761px;
  width:180px;
  height:45px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:45px;
}
#u29 {
  position:absolute;
  left:2px;
  top:14px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:545px;
  top:1147px;
  width:549px;
  height:525px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:525px;
}
#u31 {
  position:absolute;
  left:2px;
  top:254px;
  width:545px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:340px;
  top:288px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#5AB616;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:680px;
  top:1757px;
  width:110px;
  height:40px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:650px;
  top:288px;
  width:53px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:790px;
  top:288px;
  width:53px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:490px;
  top:288px;
  width:66px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:158px;
  top:684px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:158px;
  top:738px;
  width:305px;
  height:165px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:165px;
}
#u45 {
  position:absolute;
  left:2px;
  top:74px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:276px;
  top:808px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:158px;
  top:911px;
  width:305px;
  height:25px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:25px;
}
#u49 {
  position:absolute;
  left:2px;
  top:4px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:159px;
  top:916px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:530px;
  top:1757px;
  width:110px;
  height:40px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u53 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:113px;
  top:701px;
  width:35px;
  height:35px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u55 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:0px;
  top:1907px;
  width:1366px;
  height:481px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:481px;
}
#u57 {
  position:absolute;
  left:2px;
  top:232px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:631px;
  top:1932px;
  width:86px;
  height:37px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:37px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:630px;
  top:1980px;
  width:182px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:603px;
  top:2007px;
  width:151px;
  height:151px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:151px;
}
#u63 {
  position:absolute;
  left:2px;
  top:68px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:867px;
  top:1952px;
  width:182px;
  height:19px;
  font-size:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:19px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:177px;
  top:2263px;
  width:1008px;
  height:32px;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:32px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:1049px;
  top:1952px;
  width:182px;
  height:19px;
  font-size:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:19px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:239px;
  top:1952px;
  width:182px;
  height:19px;
  font-size:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:19px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:421px;
  top:1952px;
  width:182px;
  height:19px;
  font-size:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:19px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:152px;
  top:2229px;
  width:1056px;
  height:10px;
}
#u74_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_end {
  position:absolute;
  left:1039px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1056px;
  height:1px;
}
#u75 {
  position:absolute;
  left:256px;
  top:1998px;
  width:27px;
  height:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:243px;
  top:2041px;
  width:53px;
  height:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:239px;
  top:2078px;
  width:66px;
  height:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:244px;
  top:2117px;
  width:53px;
  height:16px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:244px;
  top:2156px;
  width:53px;
  height:16px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:426px;
  top:1998px;
  width:53px;
  height:16px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:425px;
  top:2041px;
  width:53px;
  height:16px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:425px;
  top:2078px;
  width:53px;
  height:16px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:873px;
  top:1998px;
  width:53px;
  height:16px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:873px;
  top:2038px;
  width:53px;
  height:16px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:873px;
  top:2078px;
  width:53px;
  height:16px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:425px;
  top:2116px;
  width:53px;
  height:16px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:1060px;
  top:1998px;
  width:40px;
  height:16px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:586px;
  top:2168px;
  width:182px;
  height:32px;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:32px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:342px;
  top:2341px;
  width:672px;
  height:16px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:16px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:79px;
  top:2472px;
  width:384px;
  height:129px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:129px;
}
#u106 {
  position:absolute;
  left:2px;
  top:32px;
  width:380px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:79px;
  top:2472px;
  width:35px;
  height:35px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u108 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:485px;
  top:1762px;
  width:35px;
  height:35px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u110 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:79px;
  top:2632px;
  width:384px;
  height:129px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:129px;
}
#u112 {
  position:absolute;
  left:2px;
  top:24px;
  width:380px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:79px;
  top:2632px;
  width:35px;
  height:35px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u114 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:800px;
  top:1760px;
  width:35px;
  height:35px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u116 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:79px;
  top:2793px;
  width:384px;
  height:129px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:129px;
}
#u118 {
  position:absolute;
  left:2px;
  top:32px;
  width:380px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:79px;
  top:2793px;
  width:35px;
  height:35px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u120 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:525px;
  top:2472px;
  width:375px;
  height:667px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u122 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:287px;
  top:2722px;
  width:35px;
  height:35px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u124 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:525px;
  top:2472px;
  width:35px;
  height:35px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u126 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:1093px;
  top:288px;
  width:282px;
  height:16px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:16px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:1206px;
  top:242px;
  width:25px;
  height:83px;
  font-size:72px;
  color:#FF0000;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:83px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:323px;
  top:421px;
  width:149px;
  height:50px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:50px;
}
#u132 {
  position:absolute;
  left:2px;
  top:17px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:527px;
  top:421px;
  width:143px;
  height:49px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:49px;
}
#u134 {
  position:absolute;
  left:2px;
  top:16px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:124px;
  top:429px;
  width:29px;
  height:33px;
  font-size:28px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:33px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u137 {
  position:absolute;
  left:1210px;
  top:429px;
  width:29px;
  height:33px;
  font-size:28px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:33px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u139 {
  position:absolute;
  left:301px;
  top:437px;
  width:100px;
  height:16px;
}
#u140 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u141 {
  position:absolute;
  left:507px;
  top:437px;
  width:100px;
  height:16px;
}
#u142 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u143 {
  position:absolute;
  left:200px;
  top:437px;
  width:100px;
  height:16px;
}
#u144 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u143_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u145 {
  position:absolute;
  left:132px;
  top:1130px;
  width:355px;
  height:40px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:40px;
}
#u146 {
  position:absolute;
  left:2px;
  top:12px;
  width:351px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:210px;
  top:1200px;
  width:200px;
  height:100px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u148 {
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:736px;
  top:1299px;
  width:165px;
  height:165px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:165px;
}
#u150 {
  position:absolute;
  left:2px;
  top:74px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:735px;
  top:1475px;
  width:169px;
  height:22px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u153 {
  position:absolute;
  left:132px;
  top:1350px;
  width:355px;
  height:220px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:220px;
}
#u154 {
  position:absolute;
  left:2px;
  top:102px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:186px;
  top:1424px;
  width:248px;
  height:16px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:16px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u157 {
  position:absolute;
  left:249px;
  top:1464px;
  width:144px;
  height:16px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  visibility:hidden;
  white-space:nowrap;
}
#u159 {
  position:absolute;
  left:290px;
  top:1464px;
  width:40px;
  height:16px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u161 {
  position:absolute;
  left:260px;
  top:1510px;
  width:100px;
  height:30px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u162 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
